<script defer src="{{ 'app.js' | asset_url }}"></script>
{% if request.page_type == 'product' %}
<script defer src="{{ 'index.js' | asset_url }}"></script>
{% endif %}
<!-- TrustBox script -->
<script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async defer></script>
<!-- End TrustBox script -->

{% if request.page_type == 'product' and settings.enable-klaviyo-notification and template != 'product.giftcard' %}
<style>
.product-sold-alert {
  position: absolute;
  z-index: 9;
  top: 0;
  right: 0;
  width: 100%;
  padding: 15px 20px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  background: rgba(0,0,0,0.6);
}
@media (min-width: 768px) {
  .product-sold-alert {
    width: calc(83.333333% - 1.5px);
    padding: 10px 20px;
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  .product-sold-alert {
    width: calc(83.333333% - 3px);
  }
}
@media (min-width: 1200px) {
  .product-sold-alert {
    width: calc(83.333333% - 5px);
  }
}
@media (max-width: 767.98px) {
  /* .product-cart .btn[disabled] ~ .btn-cart-out-of-stock, */
  /* .product-cart .klaviyo-bis-trigger:not(.d-flex), */
  .product-cart .klaviyo-bis-trigger.d-flex ~ .btn,
    .product-cart .btn[disabled] ~ .btn-cart-choose
  {
    display: none !important;
  }
}
</style>

<style id="klaviyo-styles">
  * {
    font-family: Titillium Web, sans-serif;
  }
  {% if template == 'product.subscribe' %}
  #variant_select {
    overflow: hidden;
    height: 0;
    margin-top: -20px;
  }
  {% endif %}
  body.fadein {
    background-color: rgba(186,186,186,0.3);
  }
  .btn-primary.focus, .btn-primary:focus,
  .klaviyo-bis-trigger.btn-primary:not(:disabled):not(.disabled):active:focus {
    box-shadow: 0 0 0 0.2rem #4f4f4f85;
  }
  #klaviyo-bis-modal #container {
    border-radius: 0;
  }
  #klaviyo-bis-modal form,
  #klaviyo-bis-modal .submit-container
  {
    margin-top: 40px;
  }
  #klaviyo-bis-modal .form-control {
    height: 40px;
    padding: .3125rem 1rem;
    border-radius: 0;
    border-color: #353535;
    outline: none;
  }
  #klaviyo-bis-modal #newsletter_subscription {
    margin-top: 20px;
  }
  #klaviyo-bis-modal [type="checkbox"] {
    appearance: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: top;
    border: 1px solid #353535;
    background: no-repeat 50% / 0% 0%;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3e%3cpath fill='%23353535' d='M6.38,12.34a1.55,1.55,0,0,1-2.254,0L0.634,8.705A1.707,1.707,0,0,1,.587,6.36a1.551,1.551,0,0,1,2.254-.048L2.888,6.361,4.968,8.526a0.392,0.392,0,0,0,.57,0l5.634-5.863a1.551,1.551,0,0,1,2.254.049,1.708,1.708,0,0,1,0,2.3Z'/%3e%3c/svg%3e");
    transition: 0.2s ease;
    outline: none;
  }
  #klaviyo-bis-modal [type="checkbox"]:checked {
    background-size: 64.2857% 64.2857%;
  }
  #klaviyo-bis-modal .btn {
    height: 40px;
    padding: 4px 20px;
    border-color: #00ab66;
    background-color: #00ab66;
    border-radius: 0;
    transition: 0.3s ease;
    outline: none;
    text-transform: uppercase;
  }
  #klaviyo-bis-modal .btn:not([disabled]):hover {
    border-color: #00854f;
    background-color: #00854f;
  }
</style>

<script src="https://a.klaviyo.com/media/js/onsite/onsite.js" defer></script>
<script>
var klaviyo = klaviyo || [];

document.addEventListener('DOMContentLoaded', function() {
    klaviyo.init({
      account: "{{ settings.klaviyo-api-key }}",
      {%- if settings.klaviyo-list-id != blank -%}
      list: "{{ settings.klaviyo-list-id }}",
      {%- endif -%}
      platform: "shopify"
    });
    klaviyo.enable("backinstock",{
      trigger: {
        product_page_text: "{{ 'product.notify_modal.button' | t }}",
        product_page_class: "btn",
        product_page_text_align: "center",
        product_page_margin: "0px",
        replace_anchor: false
      },
      modal: {
        headline: "{product_name}",
        body_content: "{{ 'product.notify_modal.text' | t }}",
        {%- if settings.klaviyo-list-id != blank -%}
        subscribe_checked: true,
        {%- endif -%}
        email_field_label: "Email",
        button_label: "{{ 'product.notify_modal.inside_button' | t }}",
        subscription_success_label: "Tak for din tilmelding. Vi kontakter dig så snart produktet er på lager igen.",
        newsletter_subscribe_label: "{{ 'product.notify_modal.newsletter_opt_in' | t }}",
        drop_background_color: "#000",
        background_color: "#fff",
        text_color: "#222",
        button_text_color: "#fff",
        button_background_color: "#4f4f4f",
        close_button_color: "#ccc",
        error_background_color: "#fcd6d7",
        error_text_color: "#C72E2F",
        success_background_color: "#d3efcd",
        success_text_color: "#1B9500"
      }
	});

  	const bodyNode = document.body,
    	  bodyConfig = { attributes: false, childList: true, subtree: false };
    let   klaviyoLoaded = false;

  	const bodyCallback = function(mutationsList, observer) {
        for(const mutation of mutationsList) {
            if (mutation.type === 'childList') {
                if ($('#klaviyo-bis-iframe').length && !klaviyoLoaded) {
                    bodyObserver.disconnect();
                  	klaviyoLoaded = true;

                  	const klaviyoStyles = $('#klaviyo-styles').text(),
                          targetNode = $('#klaviyo-bis-iframe').get(0);

                  	const config = { attributes: true };

                    const callback = function(mutationsList, observer) {
                        for(const mutation of mutationsList) {
                            if (mutation.type === 'attributes') {
                                const $head = $('#klaviyo-bis-iframe').contents().find('head'),
                                      $options = $('#klaviyo-bis-iframe').contents().find('#variants option');

                                if ($head.find('#klaviyoStyles').length < 1) {
                                    $head.prepend('<link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600,600i,700,700i&display=swap" rel="stylesheet">');
                                    $head.append('<style id="klaviyoStyles">' + klaviyoStyles + '</style>');
                                }

                                $options.each(function() {
                                    const $option = $(this);

                                    if ($option.text().indexOf('10%') >= 0 || $option.text().indexOf('20%') >= 0) {
                                        $option.remove();
                                    }
                                });
                            }
                        }
                    };

                    const observer = new MutationObserver(callback);

                    observer.observe(targetNode, config);
                }
            }
        }
    };

    const bodyObserver = new MutationObserver(bodyCallback);

    bodyObserver.observe(bodyNode, bodyConfig);
});
</script>
{% endif %}
