
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">

<link rel="stylesheet" type="text/css" href="{{ 'app.css' | asset_url }}" media="screen" />
<link rel="stylesheet" type="text/css" href="{{ 'custom.scss.css' | asset_url }}" media="screen" />
<style>
@media (min-width: 767.98px) {
	#teaser051a2cde-8876-480d-9ba4-0a05379f902c {
  		left: 40px !important;
	}
}
.template-article main img.img-fluid {
  display: block;
}
.template-article main img.img-fluid + br {
    display: none;
}
.template-article main [style*="text-align: center"] img.img-fluid {
  margin-right: auto;
  margin-left: auto;  
}
.template-article main *:last-child img {
  margin-bottom: 0 !important;
}
.template-article main .row:not(:last-child) {
  margin-bottom: 20px;
}
.template-article main .row .col > img:first-child,
.template-article main .row [class*="col-"] > img:first-child
{
    margin-top: 0 !important;
}

</style>
