<script>
window.tbPublicPath = '{{ assetsPath }}';

window.TB = {
    svgResource: {
        path:    "{{ 'sprite.svg' | asset_url }}",
        id:      "bareenTshirtSvg",
        version: 0.811
    },
    fonts: [
        'Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;1,400;1,700&display=swap'
    ],
    countryCode: '{{ settings.localization_country_code }}'
};

window.theme = {
  	routes: {
      	currentUrl: {{ request.path | json }},
        rootUrl: {{ routes.root_url | json }},
        rootUrlWithoutSlash: {% if routes.root_url == '/' %}''{% else %}{{ routes.root_url | json }}{% endif %},
        cartUrl: {{ routes.cart_url | json }},
        cartAddUrl: {{ routes.cart_add_url | json }},
        cartChangeUrl: {{ routes.cart_change_url | json }},
        searchUrl: {{ routes.search_url | json }},
        productRecommendationsUrl: {{ routes.product_recommendations_url | json }}
    },
    strings: {
        addToCart: "{{ 'product.form.add_to_cart' | t }}",
        soldOut: "{{ 'product.form.sold_out' | t }}",
        unavailable: "{{ 'product.form.unavailable' | t }}",
        addingToCart: "{{ 'product.form.adding_to_cart' | t }}",
        cartItemRemove: "{{ 'cart.general.remove' | t }}",
        cartAddSuccess: "{{ 'products.product.success_to_cart' | t }}",
        cartItem: "{{ 'cart.general.item' | t }}",
        cartItems: "{{ 'cart.general.items' | t }}",
        shirt: "{{ 'cart.mini_cart.shirt' | t }}",
        shirts: "{{ 'cart.mini_cart.shirts' | t }}",
        free: "{{ 'cart.general.free' | t }}",
        cartShipping: "{{ 'cart.general.shipping_at_checkout' | t }}"
    },
    moneyFormat: "{{ shop.money_format }}",
    currency: "{{ shop.currency }}"
}

window.addEventListener('DOMContentLoaded', function() {
    var endpoint = '//freegeoip.app/json/';

    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            window.TB.geolocation = JSON.parse(this.responseText);
        } else {
            window.TB.geolocation = false;
        }
    };
    xhr.open('GET', endpoint, true);
    xhr.send();
});
</script>
