<div class="post">
  <a href="{{ article.url }}" class="tb__image tb__image--1-1 mb-2 mb-md-3">
    <figure class="tb__image__placeholder bg-light-gray">
      <img
           class="lazyload"
           src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
           data-src="{{ article.image.src | img_url: '450x450', crop: 'center' }}"
           data-expand="-50"
           alt="{{ article.image.alt }}"
           />
    </figure>
  </a>
  <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
</div>
