{%- if for_drawer == blank -%}
{%- assign for_drawer = false -%}
{%- endif -%}

<form action="{{ routes.cart_url }}" method="POST" novalidate>
  <input type="hidden" name="attributes[collection_mobile_items_per_row]" value="">
  <input type="hidden" name="attributes[collection_desktop_items_per_row]" value="">
  {% render 'cart-items', for_drawer: for_drawer %}

  <hr>

  {% if for_drawer %}
  {% render 'discount-bar' %}
  {% endif %}

  <div class="cart-totals">
    <p>{{ 'cart.general.shipping_and_taxes_notice' | t }}</p>
    
    {% render 'delivery_date' %}

    <div class="cart-totals-price mb-2">
      <div class="row row-gut-1">
        <div class="col h3 mb-0 font-18 font-md-20 font-weight-600">
          {{ 'cart.general.total' | t }}
        </div>
        <div class="col-auto h3 mb-0 font-18 font-md-20 font-weight-600">
          {{ cart.total_price | money_without_trailing_zeros }}
        </div>
      </div>
    </div>

    {% assign agreePage = pages[settings.cart-agree-page] %}
    {% capture agreeLink %}
    <a class="js-modal-link" href="{{ agreePage.url }}" target="_blank">{{ agreePage.title }}</a>
    {% endcapture %}
    <div class="text-block mb-3">
      <label class="custom-control custom-control-sm custom-checkbox">
        <input class="custom-control-input js-agree-checkbox" type="checkbox">
        <span class="custom-control-label">{{ 'cart.general.agree_html' | t: agreeLink: agreeLink }}</span>
      </label>
    </div>
    <button class="cart-totals-submit btn btn-primary btn-block" type="submit" name="checkout">{{- 'cart.general.checkout-btn' | t -}}</button>
  </div>
</form>
