{%- assign gift-card-count = 0 -%}
{%- for item in cart.items -%}
{%- if item.gift_card == true -%}
{%- assign gift-card-count = gift-card-count | plus: item.quantity -%}
{%- endif -%}
{%- endfor -%}
{%- unless template == 'cart.ajax' -%}
{%- assign lazyload = true -%}
{%- endunless -%}

<div class="cart-items {% unless for_drawer %}overflow-hidden{% else %}scroll-y{% endunless %}" data-items="{{ cart.item_count }}" data-items-exclude="{{ gift-card-count }}">
  {%- unless for_drawer -%}
  <div class="cart-items-header d-none d-md-flex">
    <span class="cart-items-header-product">{{ 'cart.items.product' | t }}</span>
    <span class="cart-items-header-quantity">{{ 'cart.items.quantity' | t }}</span>
    <span class="cart-items-header-total">{{ 'cart.items.total' | t }}</span>
  </div>
  <hr class="d-none d-md-block">
  {%- endunless -%}

  {%- for line_item in cart.items -%}
  <div class="cart-items-body">
    <div class="cart-item{% unless forloop.last 1 %} mb-3{% endunless %}" data-line="{{ forloop.index }}" data-variant-id="{{ line_item.id }}">
      {% assign product = all_products[line_item.product.handle] %}
      <script data-cart="{{ forloop.index }}" type="text/json">{{ line_item | json }}</script>
      <script data-stock="{{ forloop.index }}" type="text/json">[{% for variant in product.variants %}{"id":{{ variant.id }},"title":"{{ variant.title | escape }}","option1":{% if variant.option1 %}"{{ variant.option1 | escape }}"{% else %}null{% endif %},"option2":{% if variant.option2 %}"{{ variant.option2 | escape }}"{% else %}null{% endif %},"option3":{% if variant.option3 %}"{{ variant.option3 | escape }}"{% else %}null{% endif %},"sku":{% if variant.sku %}"{{ variant.sku | escape }}"{% else %}null{% endif %},"requires_shipping":{{ variant.requires_shipping }},"taxable":{{ variant.taxable }},"featured_image":{% if variant.featured_image %}"{{ variant.featured_image }}"{% else %}null{% endif %},"available":{{ variant.available }},"name":"{{ variant.name }} | escape","public_title":"{{ variant.public_title }} | escape","options":{{ variant.options | json }},"price":{{ variant.price }},"weight":{% if variant.weight %}{{ variant.weight }}{% else %}0{% endif %},"compare_at_price":{% if variant.compare_at_price %}{{ variant.compare_at_price }}{% else %}null{% endif %},"inventory_quantity":{{ variant.inventory_quantity }},"inventory_management":{% if variant.inventory_management %}"{{ variant.inventory_management }}"{% else %}null{% endif %},"inventory_policy":{% if variant.inventory_policy %}"{{ variant.inventory_policy }}"{% else %}null{% endif %},"barcode":{% if variant.barcode %}"{{ variant.barcode }}"{% else %}null{% endif %}}{% unless forloop.last %},{% endunless %}{% endfor %}]</script>
      {% comment %}
      <script>
      window.addEventListener('DOMContentLoaded', function() {
        console.log(JSON.parse($('[data-cart="{{ forloop.index }}"]').html()));
        console.log(JSON.parse($('[data-stock="{{ forloop.index }}"]').html()));
      });
      </script>
      {% endcomment %}
      <div class="row{% if for_drawer %} row-gutx-2{% endif %}">
        <div class="col-image col-auto">
          <div class="tb__image w-60p w-md-85p mx-auto">
            <div class="tb__image__placeholder" style="padding-top: 126.6666%;">
              <img
                {% if lazyload %}
                class="lazyload"
                src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
                data-src="{{ line_item.image | img_url: '85x105' }}"
                {% else %}
                src="{{ line_item.image | img_url: '85x105' }}"
                {% endif %}
                alt="{{ line_item.image.alt | escape }}"
              >
            </div>
          </div>
        </div>
        <div class="col-info col">
          <div class="row row-guty-1 row-gut-2">
            <div class="col-title col">
              {% for tag in line_item.product.tags %}
              {% if tag contains 'linked_' %}
              {% assign t = tag | remove: 'linked_' | handleize %}
              {% break %}
              {% else %}
              {% continue %}
              {% endif %}
              {% endfor %}

              {% for pr in collections[t].products %}
              {% assign productColor = '' %}
              {% for tag in pr.tags %}
              {% if tag contains 'color_' %}
              {% assign color = tag | remove: 'color_' | split: '-' %}
              {% else %}
              {% continue %}
              {% endif %}
              {% endfor %}
              {% if pr.id == line_item.product.id %}
              {% assign productColor = color[0] %}
              {% break %}
              {% endif %}
              {% endfor %}

              {% assign removeFromTitle = productColor | prepend: '(' | append: ')' %}
              <h5 class="mb-0"><a href="{{ line_item.url }}">{{ line_item.product.title | replace: removeFromTitle, '' }}</a></h5>
              <div class="small">
                {% if productColor != blank %}{{ productColor }}, {% endif %}
                {%- unless line_item.product.has_only_default_variant -%}{{ line_item.variant.title }}{%- endunless -%}

                {%- if line_item.line_level_discount_allocations != blank -%}
                  {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                    {%-if discount_allocation.discount_application.title contains '10%' %} -10%{% endif %}
                    {%-if discount_allocation.discount_application.title contains '20%' %} -20%{% endif %}
                  {%- endfor -%}
                {%- endif -%}

                {%- if line_item.selling_plan_allocation -%}
                <p class="CartItem__PlanAllocation">{{ line_item.selling_plan_allocation.selling_plan.name }}</p>
                {%- endif -%}
                {%- if line_item.properties != empty -%}
                <ul class="CartItem__PropertyList">
                  {%- for property in line_item.properties -%}
                  {%- assign first_character_in_key = property.first | truncate: 1, '' -%}
                  {%- if property.last == blank or first_character_in_key == '_' -%}
                  {%- continue -%}
                  {%- endif -%}
                  <li class="CartItem__Property">{{ property.first }}: {{ property.last }}</li>
                  {%- endfor -%}
                </ul>
                {%- endif -%}
              </div>
            </div>
            <div class="col-price col-auto">
              <div>
                <div class="text-right{% unless for_drawer %} font-16{% endunless %}">
                  {%- if line_item.original_line_price != line_item.final_line_price -%}
                  <span class="CartItem__Price Price Price--highlight">{{ line_item.final_line_price | money_without_trailing_zeros }}</span>
                  {%- else -%}
                  <span class="CartItem__Price Price">{{ line_item.final_line_price | money_without_trailing_zeros }}</span>
                  {%- endif -%}
                </div>
                <div class="text-right small">
                  {%- if line_item.original_price != line_item.final_price -%}
                  <span class="CartItem__Price Price Price--highlight">{{ line_item.final_price | money_without_trailing_zeros }}</span>
                  {%- else -%}
                  <span class="CartItem__Price Price">{{ line_item.final_price | money_without_trailing_zeros }}</span>
                  {%- endif -%}
                </div>
              </div>
            </div>
            <div class="col-separator w-100 m-0"></div>
            <div class="col-quantity {% if for_drawer %}col{% else %}col-auto mr-auto mr-md-0{% endif %}">
              <div class="flex-grow-0 flex-basis-auto w-100p">
                <input
                  id="updates_{{ line_item.key }}"
                  class="form-control form-control-sm px-1 text-center js-cart-item-quantity"
                  type="text"
                  name="updates[]"
                  pattern="[0-9]*"
                  value="{{ line_item.quantity }}"
                  size="2"
                  data-line="{{ forloop.index }}"
                  data-min="1"
                  data-toggle="touchspin"
                  data-buttondown_class="btn btn-sm btn-outline-gray text-dark w-30p px-0 js-counter-remove"
                  data-buttonup_class="btn btn-sm btn-outline-gray text-dark w-30p px-0 js-counter-add"
                >
                {%- unless for_drawer -%}
                <div class="d-none d-md-block mt-2 text-block text-center small">
                  <a class="js-cart-item-remove" href="{{ routes.cart_change_url }}?quantity=0&line={{ forloop.index }}" data-id="{{ line_item.product.id }}" data-quantity="0" data-line="{{ forloop.index }}" data-action="remove-item">{{ 'cart.items.remove' | t }}</a>
                </div>
                {% endunless %}            
              </div>
            </div>
            <div class="col-actions col-auto align-items-center{% unless for_drawer %} d-md-none{% endunless %} text-block font-12">
              <a class="js-cart-item-remove" href="{{ routes.cart_change_url }}?quantity=0&line={{ forloop.index }}" data-id="{{ line_item.product.id }}" data-quantity="0" data-line="{{ forloop.index }}" data-action="remove-item">{{ 'cart.items.remove' | t }}</a>
            </div>
          </div>
        </div>
      </div>
	</div>
  </div>
  {%- endfor -%}
</div>
