{% if settings.enable_delivery_date and settings.time_axis != blank and settings.delivery_in_time != blank and settings.delivery_out_time != blank %}
  <div class="estimate_delivery_date" data-prefix="{{ settings.delivery_prefix_label }}" data-week="{{ settings.only_weekdays }}" data-time="{{ settings.time_axis }}" data-time-weekend="{{ settings.time_axis_sat }}" data-days-before-time="{{ settings.delivery_in_time }}" data-days-after-time="{{ settings.delivery_out_time }}" data-trans-days="{% if settings.trans_days %}{{ settings.trans_days }}{% else %}null{% endif %}" data-trans-months="{% if settings.trans_months %}{{ settings.trans_months }}{% else %}null{% endif %}"></div>
{% endif %}
