{% if cartNotification == blank %}
{% assign cartNotification = false %}
{% endif %}

{%- assign gift-card-count = 0 -%}
{%- for item in cart.items -%}
{%- if item.gift_card == true -%}
{%- assign gift-card-count = gift-card-count | plus: item.quantity -%}
{%- endif -%}
{%- endfor -%}

{% assign itemsTotal = cart.item_count | minus: gift-card-count  %}

{% assign itemsModifier = itemsTotal | at_most: 10 %}
{% assign promoModifier = 0 %}
{% assign freeDeliveryItems = settings.cart-free-shipping-items %}

{% if itemsModifier >= freeDeliveryItems %}
{% assign promoModifier = freeDeliveryItems %}
{% endif %}

{% if itemsModifier >= 5 %}
{% assign promoModifier = 5 %}
  {% if freeDeliveryItems > 5 and itemsModifier >= freeDeliveryItems %}
  {% assign promoModifier = freeDeliveryItems %}
  {% endif %}
{% endif %}

{% if itemsModifier >= 10 %}
{% assign promoModifier = 10 %}
{% endif %}

{% if freeDeliveryItems < 5 %}
{% assign tier-1-width = freeDeliveryItems %}
{% assign tier-2-width = 5 | minus: freeDeliveryItems | abs %}
{% assign tier-3-width = 5 %}
{% assign tier-1-order = 1 %}
{% assign tier-2-order = 2 %}
{% else %}
{% assign tier-1-width = freeDeliveryItems | minus: 5 | abs %}
{% assign tier-2-width = 5 %}
{% assign tier-3-width = 10 | minus: 5 | minus: tier-1-width %}
{% assign tier-1-order = 2 %}
{% assign tier-2-order = 1 %}
{% endif %}

{% if itemsTotal < 5 %}
{% assign discountItems = 5 | minus: itemsTotal %}
{% assign discountPercent = '10%' %}
{% endif %}
{% if itemsTotal >= 5 and itemsTotal < 10 %}
{% assign discountItems = 10 | minus: itemsTotal %}
{% assign discountPercent = '20%' %}
{% endif %}
<div class="text-block mb-3"{% if itemsTotal >= 10 %} style="display: none;"{% endif %}>
  <h6 class="d-flex justify-content-between mb-0">
    <span class="font-weight-600">{{ 'cart.discounts.title' | t }}</span>
  </h6>
  <div class="cart_discount_info">
    <div class="pt-1 font-12">
      {% if cartNotification %}
        {% capture product_translation %}
        <span data-label-single>{{ 'cart.discounts.product_single' | t }}</span>
        <span data-label>{{ 'cart.discounts.product' | t }}</span>
        {%endcapture%}
        <p>{{ 'cart.discounts.rule_js' | t | replace: '%products', '<span data-count></span>' | replace: '%label', product_translation | replace: '%discount', '<span data-discount></span>' }}</p>
      {% else %}
        {% if discountItems > 1 %}
          <p>{{ 'cart.discounts.rule' | t | replace: '%products', discountItems | replace: '%discount', discountPercent }}</p>
        {% else %}
          <p>{{ 'cart.discounts.rule_single' | t | replace: '%products', discountItems | replace: '%discount', discountPercent }}</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>

<div class="discount-bar" data-items-tier-1="{{freeDeliveryItems}}">
  <div class="row no-gutters">
    <div class="col-auto w-{{tier-1-width}}0 flex-column align-items-end order-{{tier-1-order}}{%if freeDeliveryItems == 0 %} d-none{% endif %}">
      {% if itemsTotal >= freeDeliveryItems %}
      <span class="discount-bar__tier-badge badge badge-primary text-white">
        <span class="tb__icon tb__icon--solid">
          <svg width="13" height="12"><use xlink:href="#check"></use></svg>
        </span>
      </span>
      {% else %}
      <span class="discount-bar__tier-badge badge"></span>
      {% endif %}
      <span class="discount-bar__tier-description">{{ 'cart.discounts.tier1.short' | t }}</span>
    </div>
    <div class="col-auto w-{{tier-2-width}}0 flex-column align-items-end order-{{tier-2-order}}">
      {% if itemsTotal >= 5 %}
      <span class="discount-bar__tier-badge badge badge-primary text-white">
        <span class="tb__icon tb__icon--solid">
          <svg width="13" height="12"><use xlink:href="#check"></use></svg>
        </span>
      </span>
      {% else %}
      <span class="discount-bar__tier-badge badge"></span>
      {% endif %}
      <span class="discount-bar__tier-description">{{ 'cart.discounts.tier2.short' | t }}</span>
    </div>
    <div class="col-auto w-{{tier-3-width}}0 flex-column align-items-end order-10">
      {% if itemsTotal >= 10 %}
      <span class="discount-bar__tier-badge badge badge-primary text-white">
        <span class="tb__icon tb__icon--solid">
          <svg width="13" height="12"><use xlink:href="#check"></use></svg>
        </span>
      </span>
      {% else %}
      <span class="discount-bar__tier-badge badge"></span>
      {% endif %}
      <span class="discount-bar__tier-description">{{ 'cart.discounts.tier3.short' | t }}</span>
    </div>
  </div>
  <div class="progress">
    <div class="progress-bar bg-secondary" style="width: calc(({{itemsModifier}}/10) * 100% - 11px);"></div>
    <div class="progress-bar bg-primary" style="width: calc(({{promoModifier}}/10) * 100% - 11px);"></div>
  </div>
</div>
