{%- capture section_settings -%}
{
  "type": {{ settings.cart_type | json }},
  "itemCount": {{ cart.item_count }},
  "drawer": true,
  "hasShippingEstimator": false
}
{%- endcapture -%}

<div id="cart" class="collapse">
  <div id="cart-content-wrap">
    <div class="d-flex align-items-center">
      <h3 class="h1 mb-0 text-uppercase">{{ 'cart.modal.title' | t }}</h3>
      <a class="ml-auto text-gray font-16 font-lg-22 btnCartToggle" href="javascript:;" data-target="#cart">&#9587;</a>
    </div>

    <hr class="border-gray w-100 my-3">

    <div id="cart-content">
      {% if cart.item_count == 0 %}
      <p class="text-muted">{{ 'cart.empty.text' | t }}</p>
      <div class="d-flex flex-wrap align-items-center justify-content-center m-auto text-center">
        <h5 class="mb-3 mt-n6 font-weight-600">{{ 'cart.empty.menu_title' | t }}</h5>
        {%- if settings.cart_empty_nav != blank -%}
        <nav>
          {%- assign cart_empty_nav = linklists[settings.cart_empty_nav] -%}
          {% for link in cart_empty_nav.links %}
          <a class="btn btn-outline-secondary w-200p mb-3" href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </nav>
        {%- endif -%}
      </div>
      {% else %}
      {% render 'cart-template', for_drawer: true %}
      {% endif %}
    </div>
  </div>
</div>

<div class="collapse-backdrop"></div>


<script>
  window.addEventListener("DOMContentLoaded", function() {
    $(document).ready(function() {
      $('#cart').on('show.bs.collapse', function() {
        const $cont = window.innerHeight >= 900 || window.innerHeight >= 700 && window.innerWidth <= 560 ? $('#cart .cart-items') : $('#cart #cart-content');

        if ($cont.get(0).clientHeight < $cont.get(0).scrollHeight) {
          const $btn = $('<span class="btn btn-sm btn-round btn-dark o-80 position-sticky bottom-0 d-flex w-150p mx-auto px-2 inactive js-btn-scroll" style="margin-top: -32px; bottom: -100px !important;">{{ 'cart.notifications.scroll' | t }} <span class="tb__icon tb__icon--stroke ml-1"><svg width="14" height="14"><use xlink:href="#arrow-down"></use></svg></span></span>').appendTo($cont);

          setTimeout(function() {
            $btn.css('bottom', '');
          }, 200);

          $cont.on('scroll', function() {
            if ($cont.get(0).scrollHeight - Math.round($cont.get(0).scrollTop) === $cont.get(0).clientHeight) {
              $btn.attr('style', 'margin-top: -32px; opacity: 0 !important;');

              $cont.off('scroll');
            }
          });
        }
      });

      $('#cart').on('hide.bs.collapse', function() {
        $('#cart .cart-items, #cart #cart-content').off('scroll');
        setTimeout(function() {
          $('#cart').find('.js-btn-scroll').remove();
        }, 50);
      });
	  });
  });
</script>