<div id="modal_sizeguide" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-md w-650p wmax-100">
    <div class="modal-content">
      <a class="btn btn-transparent btn-sm btn-fixed position-absolute z-2 top-0 right-0 m-3 text-gray font-12" href="javascript:;" data-dismiss="modal">&#9587;</a>
      <div class="modal-body tb__loading hmin-300p p-4 p-md-6 p-lg-7">
        <span class="tb__loading__bar"></span>
        <div class="sizeguide-wrap"></div>
      </div>
    </div>
  </div>
</div>
