<figure class="{{ wrapper_class }}" style="padding-top: {{ 100 | divided_by: image.aspect_ratio }}%;">
  <img class="lazyload slide-from-bottom" src="{{ 'pixel.gif' | asset_img_url: '1x1' }}" data-src="{{ image | img_url: '2000x' }}" data-expand="-50" alt="{{ product.featured_media.alt | escape }}" />
</figure>