<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
  <meta name="referrer" content="origin">

  <title>{{ page_title }}</title>

  {{ content_for_header }}

  {{ checkout_stylesheets }}
  {{ checkout_scripts }}
</head>
<body>
{{ skip_to_content_link }}

<header class="banner" data-header role="banner">
  <div class="wrap">
    {{ content_for_logo }}
  </div>
</header>

{{ order_summary_toggle }}
<div class="content" data-content>
  <div class="wrap">
    <div class="main">
      <header class="main__header" role="banner">
        {{ content_for_logo }}
        {{ breadcrumb }}
        {{ alternative_payment_methods }}
      </header>
      <main class="main__content" role="main">
        {{ content_for_layout }}
      </main>
      <footer class="main__footer" role="contentinfo">
        {{ content_for_footer }}
      </footer>
    </div>
    <aside class="sidebar" role="complementary">
      <div class="sidebar__header">
        {{ content_for_logo }}
      </div>
      <div class="sidebar__content">
        {{ content_for_order_summary }}
      </div>
    </aside>
  </div>
</div>

<style>
    .main__header .breadcrumb {
        display: flex;
    }
    .main__header .breadcrumb__item {
        position: relative;
        overflow: hidden;
        display: block;
        flex: 1 1 0;
    }
    .main__header .breadcrumb__item:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 20px;
        left: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: #ddd;
    }
    .main__header .breadcrumb__item:first-child:after {
        left: 50%;
    }
    .main__header .breadcrumb__item:last-child:after {
        left: -50%;
    }
    .main__header .breadcrumb__item:before {
        content: '';
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        margin: 0 auto 6px auto;
        font-size: 18px;
        font-weight: 700;
        background-color: #fff;
        border-radius: 50%;
        border: 2px solid #ccc;
    }
    .main__header .breadcrumb__item--current:before {
        color: #353535;
        background-color: #f3f3f3;
        border-color: #353535;
    }
    .main__header .breadcrumb__item--blank:before {
        color: #ccc;
        border-color: #ccc;
    }
    .main__header .breadcrumb__item:nth-child(1):before {
        content: "1";
    }
    .main__header .breadcrumb__item:nth-child(2):before {
        content: "2";
    }
    .main__header .breadcrumb__item:nth-child(3):before {
        content: "3";
    }
    .main__header .breadcrumb__item:nth-child(4):before {
        content: "4";
    }
    .main__header .breadcrumb__item:nth-child(5):before {
        content: "5";
    }
    .main__header .breadcrumb__item--completed:before {
        content: '' !important;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 174.239 174.239'%3E%3Cpath fill='%23bbb' d='M74.439,157.519c-1.59,1.848-4.34,1.989-6.111,0.313L1.38,94.468c-1.771-1.676-1.848-4.496-0.173-6.267l21.33-22.539 c1.676-1.771,4.496-1.848,6.267-0.173l36.571,34.611c1.771,1.676,4.521,1.535,6.111-0.313l71.447-83.015 c1.59-1.848,4.404-2.059,6.251-0.468l23.518,20.242c1.848,1.59,2.059,4.404,0.468,6.252L74.439,157.519z'/%3E%3C/svg%3E%0A");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 18px 18px;
    }
    .main__header .breadcrumb__item a,
    .main__header .breadcrumb__item span
    {
        display: block;
        text-align: center;
        font-size: 11px;
    }
    .main__header .breadcrumb svg {
        display: none;
    }
</style>

{{ tracking_code }}
</body>
</html>
