{%- capture randomFile -%}{{ 'app.css' | asset_url }}{%- endcapture -%}
{%- assign assetsPath = randomFile | split: 'app.css' | first -%}
<!DOCTYPE html>
<html dir="ltr" lang="{{ shop.locale }}">
  <head>
{% include 'kiwiSizing' %}
    <meta charset="UTF-8" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
    {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {% render '_head-css' %}
    {% render '_head-js', assetsPath: assetsPath %}
    {% render '_head-favicon', assetsPath: assetsPath %}
    {% render 'social-meta-tags' %}

    {{ content_for_header }}

    {% render 'microdata-schema' %}
    <meta name="facebook-domain-verification" content="no05pwgn5q0cjj0n0gt1023b6k2qck" />
    <meta name="google-site-verification" content="BzAHQUX7t5maJWYIL7ed9pMoVzUhsLanNDBDMLOav6A" />
    <!-- Google Tag Manager -->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
          dataLayer.push(arguments);
      }
      gtag('consent', 'default', {
          ad_storage: 'denied',
          analytics_storage: 'denied',
          wait_for_update: 500,
      });
      gtag('set', 'ads_data_redaction', true);
      gtag('set', 'url_passthrough', true);
    </script>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KB9LWB9');</script>
	<!-- End Google Tag Manager -->

    {{ settings.header_content_bottom }}

  </head>

  <body class="{% if template.directory %} template-{{ template.directory | handle }}{% endif %}template-{{ template.name | handle }} template-{{ template.suffix }} template-{{ page.handle }}">

    <!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KB9LWB9"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

    {{ settings.body_top }}

    {%- capture announcement-capture -%}
    {% section 'announcement' %}
    {%- endcapture -%}

    {{- announcement-capture
    	| replace: 'top-alert"><!-- disable top bar -->', 'top-alert d-none">'
    -}}

    {%- capture header-capture -%}
    {% section 'header' %}
    {%- endcapture -%}

    {{- header-capture
    	| replace: '<header', '<div class="sticky-sentinel-before"></div> <header'
    	| replace: 'shopify-section header"', 'header mb-4 mb-md-5" data-toggle="observe"'
    	| replace: 'header mb-4 mb-md-5" data-toggle="observe"><!--transparent-->', 'header header--overlay" data-toggle="observe">'
    -}}

    {%- capture content-capture -%}
    {{ content_for_layout }}
    {%- endcapture -%}

    {%- capture logoutLink -%}
  	</h3><a href="{{ routes.account_logout_url }}">{{ 'customer.menu.logout' | t }}</a></div><div id="ReCharge-Nav">
    {%- endcapture -%}

    {%- capture additionalLinks -%}
  	<ul id="rc_navigation" class="rc_sidebar__menu nav nav-pills nav-stacked">
      <li class="rc_menu__item">
        <a href="{{ routes.account_url }}">{{ 'customer.menu.orders' | t }}</a>
      </li>
      <li class="rc_menu__item">
        <a href="{{ routes.account_addresses_url }}">{{ 'customer.menu.addresses' | t }}</a>
      </li>
    {%- endcapture -%}

  	{{ content-capture
       | replace: '<ul id="rc_navigation" class="rc_sidebar__menu nav nav-pills nav-stacked">', additionalLinks
       | replace: '<h2 class="rc_customer__name">', '<div class="d-flex flex-wrap align-items-center mb-2 mb-md-3"><h3 class="mr-auto mb-0 font-weight-600">'
       | replace: '</h2>

<div id="ReCharge-Nav">', logoutLink
       | replace: 'rc_modal__', 'modal__'
  	}}

  	{% section 'footer' %}

  	{%- if settings.localization_links != blank -%}
  	{% render 'modal-location' %}
  	{%- endif -%}

  	{% render 'modal-cart' %}
  	{% render '_footer-js' %}
   {% include 'smile-initializer' %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="{{ 'custom.js' | asset_url }}"></script>

</body>
</html>
