{%- capture randomFile -%}{{ 'app.css' | asset_url }}{%- endcapture -%}
{%- assign assetsPath = randomFile | split: 'app.css' | first -%}
<!DOCTYPE html>
<html dir="ltr" lang="{{ shop.locale }}">
  <head>
    <meta charset="UTF-8" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MDVRQM8');</script>
	<!-- End Google Tag Manager -->

    <title>{{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
    {%- if page_description -%}
    <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

  	{% render '_head-css' %}
  	{% render '_head-js', assetsPath: assetsPath %}
  	{% render '_head-favicon', assetsPath: assetsPath %}
    {% render 'social-meta-tags' %}

    {{ content_for_header }}

    {% render 'microdata-schema' %}
    <meta name="facebook-domain-verification" content="no05pwgn5q0cjj0n0gt1023b6k2qck" />

    {{ settings.header_content_bottom }}

  </head>

  <body class="{% if template.directory %}template-{{ template.directory | handle }}{% endif %} template-{{ template.name | handle }}">

    {{ settings.body_top }}

    {% section 'announcement' %}

    {%- capture header-capture -%}
    {% section 'header' %}
    {%- endcapture -%}

    {{- header-capture
    	| replace: '<header', '<div class="sticky-sentinel-before"></div> <header'
    	| replace: 'shopify-section header"', 'header mb-4 mb-md-5" data-toggle="observe"'
    	| replace: 'header mb-4 mb-md-5" data-toggle="observe"><!--transparent-->', 'header header--overlay" data-toggle="observe">'
    -}}


  	<section class="account mb-5 mb-md-7 mb-lg-9 mb-xl-10" data-page="account">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-lg-auto w-lg-250p mb-4 mb-lg-0">
            <div class="d-flex flex-wrap align-items-center mb-2 mb-md-3">
              <h3 class="font-weight-600 mr-auto mb-0">{{ customer.name }}</h3>
              <a href="{{ routes.account_logout_url }}">{{ 'customer.menu.logout' | t }}</a>
            </div>
            <nav class="d-flex flex-lg-wrap overflow-auto">
              <a href="{{ routes.account_url }}" class="btn btn-outline-secondary w-lg-100 mb-lg-3{% if request.path == '/account' %} active{% endif %}">{{ 'customer.menu.orders' | t }}</a>
              <a href="{{ routes.account_addresses_url }}" class="btn btn-outline-secondary w-lg-100 mb-lg-3{% if request.path == '/account/addresses' %} active{% endif %}">{{ 'customer.menu.addresses' | t }}</a>
              {%- if customer.metafields.subscriptions.customer_string -%}
              {% comment %}
              <a href="/tools/recurring/customers/{{customer.metafields.subscriptions.customer_string}}/delivery_schedule/" class="btn btn-outline-secondary w-lg-100 mb-lg-3">{{ 'customer.menu.subscription_dashboard' | t }}</a>
              <a href="/tools/recurring/customers/{{customer.metafields.subscriptions.customer_string}}/subscriptions/" class="btn btn-outline-secondary w-lg-100 mb-lg-3">{{ 'customer.menu.subscription' | t }}</a>
              <a href="/tools/recurring/customers/{{customer.metafields.subscriptions.customer_string}}" class="btn btn-outline-secondary w-lg-100 mb-lg-3">{{ 'customer.menu.subscription_information' | t }}</a>
              <a href="/tools/recurring/customers/{{customer.metafields.subscriptions.customer_string}}/orders/" class="btn btn-outline-secondary w-lg-100 mb-lg-3">{{ 'customer.menu.subscription_history' | t }}</a>
              {% endcomment %}
              {%- endif -%}
            </nav>
          </div>
          <div class="col-auto offset-xxl-1 d-none d-lg-block">
            <hr class="h-300p m-0 border-left border-gray border-top-0">
          </div>
          <div class="col-lg offset-xxl-1">
            {{ content_for_layout }}
          </div>
        </div>
      </div>
    </section>
  	
 
    {% section 'footer' %}

  	{%- if settings.localization_links != blank -%}
  	{% render 'modal-location' %}
  	{%- endif -%}

  	{%- if template != 'cart' -%}
  	{% render 'modal-cart' %}
    {%- endif -%}

  	{% render '_footer-js' %}
  </body>
</html>
