{%- unless section.settings.enable_bar -%}
<!-- disable top bar -->
{%- endunless -%}
{%- if section.settings.enable_bar and section.settings.home_page_only and template != 'index' -%}
<!-- disable top bar -->
{%- endif -%}
{%- if section.settings.enable_bar -%}
{%- unless section.settings.home_page_only and template != 'index' -%}
<div class="container-fluid" style="color: {{ section.settings.text_color }}; background-color: {{ section.settings.background }};">
  <div data-locale="default"{% if section.blocks %} class="invisible"{% endif %}>
    {%- if section.settings.link -%}
    <a href="{{ section.settings.link }}"><span class="sr-only">{{ section.settings.content | escape }}</span></a>
    {%- endif -%}
    <p{%- if section.settings.link -%} aria-hidden="true"{%- endif -%}>{{ section.settings.content | escape }}</p>
  </div>
  {%- for block in section.blocks -%}
  {%- assign announcement = block.settings -%}
  <div data-locale="{{ announcement.locale }}" class="d-none">
    {{ announcement.message }}
  </div>
  {% endfor %}
</div>
{%- endunless -%}
{%- endif -%}

<script>
window.addEventListener('DOMContentLoaded', function() {
  const announcementInterval = window.setInterval(function() {
    if (window.TB.geolocation && window.TB.geolocation.country_code) {
      clearInterval(announcementInterval);

      const currentMessage = document.querySelector('.top-alert [data-locale="' + window.TB.geolocation.country_code + '"]');

      document.querySelectorAll('.top-alert [data-locale]').forEach(function(el) {
      	el.classList.add('d-none');
      });

      if (currentMessage) {
        document.querySelector('.top-alert [data-locale="' + window.TB.geolocation.country_code + '"]').classList.remove('d-none');
      }
      else {
        document.querySelector('.top-alert [data-locale="default"]').classList.remove('d-none', 'invisible');
      }
    }
  }, 10);
});
</script>

{% schema %}
{
  "name": "Announcement bar",
  "class": "top-alert",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_bar",
      "label": "Enable bar",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": "Home page only",
      "default": false
    },
    {
      "type": "text",
      "id": "content",
      "label": "Text",
      "default": "Announce something here"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "localization",
      "name": "Localization",
      "settings": [
        {
          "id": "locale",
          "type": "text",
          "label": "Country Code"
        },
        {
          "id": "message",
          "type": "textarea",
          "label": "Message"
        }
      ]
    }
  ]
}
{% endschema %}