{%- assign s = section.settings -%}
<div class="container">
  <div class="row row-gut-1 row-gut-md-3 row-gut-xl-6">
    <div class="col-6 flex-column lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
      <div class="tb__banner flex-fill">
        <div class="tb__banner__text justify-content-md-center px-3 py-3 py-md-4">
          <div class="container d-flex mt-14 mt-md-0 justify-content-center text-center text-white">
            {%- if s.col_1_title != blank -%}
            <p class="display-1 text-uppercase">{{ s.col_1_title }}</p>
            {%- endif %}
            {%- if s.col_1_cta_text != blank and s.col_1_cta_url != blank -%}
            <div class="w-100"></div>
            <a class="btn btn-outline-white w-125p" href="{{ s.col_1_cta_url }}">{{ s.col_1_cta_text }}</a>
            {%- endif %}
          </div>
        </div>
        <div class="tb__banner__overlay bg-secondary o-{{ s.overlay-opacity }} active"></div>
        <div class="tb__banner__image tb__image tb__image--cover-top">
          <figure class="tb__image__placeholder">
            <img
              class="lazyload"
              src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
              data-src="{{ s.col_1_image | img_url: '2000x' }}"
              alt="{{ s.col_1_title }}"
            />
          </figure>
        </div>
      </div>
    </div>
    <div class="col-6 flex-column lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
      <div class="tb__banner flex-fill">
        <div class="tb__banner__text justify-content-md-center px-3 py-3 py-md-4">
          <div class="container d-flex mt-14 mt-md-0 mb-md-0 justify-content-center text-center text-white">
            {%- if s.col_2_title != blank -%}
            <p class="display-1 text-uppercase">{{ s.col_2_title }}</p>
            {%- endif %}
            {%- if s.col_2_cta_text != blank and s.col_2_cta_url != blank -%}
            <div class="w-100"></div>
            <a class="btn btn-outline-white w-125p" href="{{ s.col_2_cta_url }}">{{ s.col_2_cta_text }}</a>
            {%- endif %}
          </div>
        </div>
        <div class="tb__banner__overlay bg-secondary o-20 active"></div>
        <div class="tb__banner__image tb__image tb__image--cover-top">
          <figure class="tb__image__placeholder">
            <img
              class="lazyload"
              src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
              data-src="{{ s.col_2_image | img_url: '2000x' }}"
              alt="{{ s.col_2_title }}"
            />
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
    "name": "2 columns banner",
	"tag": "section",
	"class": "hero hero--main mb-5 mb-md-7 mb-lg-9 mb-xl-10 py-3 py-md-0",
    "settings": [
        {
            "type": "header",
            "content": "1st column"
        },
        {
            "type": "text",
            "id": "col_1_title",
            "label": "Title"
        },
        {
            "type": "image_picker",
            "id": "col_1_image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "col_1_cta_text",
            "label": "CTA button text"
        },
        {
            "type": "url",
            "id": "col_1_cta_url",
            "label": "CTA button link"
        },
        {
            "type": "header",
            "content": "2nd column"
        },
        {
            "type": "text",
            "id": "col_2_title",
            "label": "Title"
        },
        {
            "type": "image_picker",
            "id": "col_2_image",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "col_2_cta_text",
            "label": "CTA button text"
        },
        {
            "type": "url",
            "id": "col_2_cta_url",
            "label": "CTA button link"
        },
        {
            "type": "header",
            "content": "Image overlay"
        },
        {
            "type": "range",
			"id": "overlay-opacity",
            "label": "Opacity",
            "min": 0,
            "max": 100,
            "step": 10,
            "default": 20
        }
	],
    "presets": [
        {
            "name": "2 columns banner",
            "category": "hero"
        }
    ]
}
{% endschema %}
