{%- assign s = section.settings -%}
<div class="container">
  <div class="row row-gut-1 row-gut-md-3 row-gut-xl-6 justify-content-center">
    {%- for block in section.blocks -%}
    {% assign banner = block.settings %}
    <div class="col-{% if s.stack-breakpoint != 'none' %}{{ s.stack-breakpoint }}-{% endif %}{{ s.column-size }} flex-column lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
      <div class="tb__banner flex-fill">
        <div class="tb__banner__text justify-content-md-center py-3 py-md-4">
          <div class="flex-fill d-flex flex-column align-items-center justify-content-center text-center text-white">
            {%- if banner.title != blank -%}
            <p class="display-{{ banner.title-level }} text-uppercase">{{ banner.title }}</p>
            {%- endif %}
            {%- if banner.text != blank -%}
            <div class="text-block w-100">{{ banner.text }}</div>
            {%- endif %}
            {%- if banner.cta_text != blank and banner.cta_url != blank -%}
            <div class="w-100"></div>
            <a class="btn btn-outline-white w-125p" href="{{ banner.cta_url }}">{{ banner.cta_text }}</a>
            {%- endif %}
          </div>
        </div>
        {% assign image_ratio = banner.image-ratio | split: 'x' %}
        <div class="tb__banner__overlay bg-secondary o-{{ banner.overlay-opacity }} active"></div>
        <div class="tb__banner__image tb__image tb__image--cover-top">
          <figure class="tb__image__placeholder" style="padding-top: calc(({{ image_ratio.last }} / {{ image_ratio.first }}) * 100%);">
            <img
              class="lazyload"
              src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
              data-src="{{ banner.image | img_url: '2000x' }}"
              alt="{{ banner.title }}"
            />
          </figure>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
    "name": "Banner grid",
	"tag": "section",
	"class": "banner-grid mb-5 mb-md-7 mb-lg-9 mb-xl-10 py-3 py-md-0",
    "blocks": [
        {
            "type":"banner",
            "name":"Banner",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "range",
                    "id": "title-level",
                    "label": "Title level",
                    "min": 1,
                    "max": 4,
                    "step": 1,
                    "default": 1,
                    "info": "Lower level means bigger font size"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "text",
                    "id": "cta_text",
                    "label": "CTA button text"
                },
                {
                    "type": "url",
                    "id": "cta_url",
                    "label": "CTA button link"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "image-ratio",
                    "label": "Aspect ratio",
                    "info": "You need to use a 'x' sign as a separator"
                },
                {
                    "type": "range",
                    "id": "overlay-opacity",
                    "label": "Color overlay",
                    "min": 0,
                    "max": 100,
                    "step": 10,
                    "default": 20
                }
            ]
        }
	],
	"settings": [
        {
            "type": "range",
            "id": "column-size",
            "label": "Column size",
            "min": 2,
            "max": 12,
            "step": 1,
            "default": 6
        },
        {
            "type": "select",
            "id": "stack-breakpoint",
            "label": "Stack under",
            "options": [
                {
                  "value": "none",
                  "label": "No stacking"
                },
                {
                  "value": "sm",
                  "label": "sm (576px)"
                },
                {
                  "value": "md",
                  "label": "md (768px)"
                },
                {
                  "value": "lg",
                  "label": "lg (992px)"
                }
            ],
            "default": "sm"
        }
	],
    "presets": [
      {
        "category": "hero",
        "name": "Banner grid"
      }
    ]
}
{% endschema %}
