{%- assign s = section.settings -%}
<div class="container">
  <div class="row">
    <div class="col-md-6 col-xl-3 offset-xl-1 order-xl-1">
      <h3>{{ s.col_4_title }}</h3>
      <p>{{ s.col_4_text }}</p>
      {{ s.col_4_code }}
    </div>
    <div class="col-12 d-md-none">
      <hr class="mt-0 border-white o-50">
    </div>
    <div class="col-md-6 col-xl-3">
      <h3>{{ s.col_1_title }}</h3>
      <p class="mb-3 mb-lg-4">{{ s.col_1_text }}</p>
      {% if s.col_1_contact_text != blank %}
      {% if s.col_1_contact_title != blank %}
      <h5 class="text-uppercase font-14 font-weight-600">{{ s.col_1_contact_title }}</h5>
      {% endif %}
      <div class="mb-3">{{ s.col_1_contact_text }}</div>
      {% endif %}
      <div class="mx-n2">
        <a class="mx-2" href="{{ settings.social_instagram }}" target="_blank">
          <span class="tb__icon tb__icon--solid">
            <svg width="32" height="32"><use xlink:href="#instagram"></use></svg>
          </span>
        </a>
        <a class="mx-1" href="{{ settings.social_facebook }}" target="_blank">
          <span class="tb__icon tb__icon--solid">
            <svg width="32" height="32"><use xlink:href="#facebook"></use></svg>
          </span>
        </a>
      </div>
    </div>
    <div class="col-12 d-none d-md-block d-xl-none">
      <hr class="mt-0 border-white o-50">
    </div>
    <div class="col-12 col-md-4 col-xl offset-xl-1">
      <h3 class="d-none d-md-block">{{ s.col_2_title }}</h3>
      {%- if s.col_2_menu != blank -%}
      {%- assign col_2_menu = linklists[s.col_2_menu] -%}
      <ul class="nav nav-simple nav-space-1 d-none d-md-flex flex-column">
        {%- for link in col_2_menu.links -%}
        <li class="nav-item">
          <a class="nav-link" href="{{ link.url }}">
            <span class="text-underline">{{ link.title }}</span>
          </a>
        </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>
    <div class="col-6 col-md-3 col-xl offset-xl-1 d-none d-md-block">
      <h3>{{ s.col_3_title }}</h3>
      {%- if s.col_3_menu != blank -%}
      {%- assign col_3_menu = linklists[s.col_3_menu] -%}
      <ul class="nav nav-simple nav-space-1 flex-column">
        {%- for link in col_3_menu.links -%}
        <li class="nav-item">
          <a class="nav-link" href="{{ link.url }}">
            <span class="text-underline">{{ link.title }}</span>
          </a>
        </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>
    <div class="col-12 order-2">
      <hr class="border-white o-50 mt-0 mt-md-2">
    </div>
    {%- if section.blocks -%}
    <div class="col-md-auto order-2 order-md-3" aria-hidden="true">
      <div class="footer__payment-icons my-n1">
        <div class="d-flex flex-wrap justify-content-center mx-n1 my-n1">
          {%- for block in section.blocks -%}
          <div class="tb__icon tb__icon--solid mx-1 my-1">
            {%- assign b = block.settings -%}
            {%- if b.svg_icon != blank -%}
            {{ b.svg_icon }}
            {%- else -%}
            <img src="{{ b.image_icon | img_url: 'x28' }}">
            {%- endif -%}
          </div>
          {%- endfor -%}
        </div>
        {% comment %}
        <div class="d-flex flex-wrap mx-n1 my-n1" style="width: 125%;">
          <div class="tb__icon tb__icon--solid mx-1 my-1">
            <svg width="48" height="28" viewBox="0 0 670.55 444.75">
              <path d="M669.44,40.65V115h-.77a50.28,50.28,0,0,1,.77,10.74l-159.5.76c-2.3.77-4.6,5.37-7.66,7.67-22.24,27.64-44.52,55.23-67.52,81.31,3.06-29.14,3.83-59,7.67-88.18H310.57c-.76,26.07-2.3,52.13-3.83,77.44-6.13-28.37-29.14-59.05-59-67.48a152.51,152.51,0,0,0-41.41-7.67l-205.21.77H.35c0-7.67,0-11.5.77-15.34H.35V39.88C.31,16.89,21,0,44.76,0h581C648.76,0,669.44,16.89,669.44,40.65ZM173.31,245.4c6.91-6.14,13.81-13.8,13-23-7.67-30.67-53.68-20.7-76.68-22.23L106,253.84C129.84,252.29,155.68,259.19,173.31,245.4Zm495.36,84.35h-148c-6.9,0-14.57,2.29-16.87-6.15l-69-99.67c-2.3,35.26-4.6,72.07-5.37,108.11H299.07c3.07-29.13,4.6-58.28,6.9-86.64a168.45,168.45,0,0,1-17.63,35.26c-19.94,31.44-52.15,46-85.89,49.85L.31,332v72.86c0,23.76,21.47,39.87,44.48,39.87h581c23.77,0,44.48-16.87,44.48-39.87V337.41h-.77C668.67,335.12,668.67,329.75,668.67,329.75Zm.77-200.91-.77-.76c-32.2,26.84-59,58.27-87.41,88.18l-.77,1.53c28.37,37.58,56.75,75.92,89,110.42-.77-.77,0-.77,0-.77Z" fill="#e20613"/>
            </svg>
          </div>
          <div class="tb__icon tb__icon--solid mx-1 my-1">
            <svg width="48" height="28" viewBox="0 0 670.55 444.75">
              <path d="M629.9,0H41.33C18.37,0,0,19.34,0,41.77V403c0,23.21,19.13,41.77,41.33,41.77H629.14c23,0,41.33-19.34,41.33-41.77V43.31C672,20.11,652.86,0,629.9,0Z" fill="#0033a0"/>
              <path d="M596.23,302.43v.77h-39.8c-.77,0-1.53,0-1.53-1.54-1.54-7.74-3.07-14.7-4.6-22.43a1.65,1.65,0,0,0-1.53-1.55H494.43c-.76,0-1.53,0-1.53,1.55-2.3,7.73-5.36,14.69-8.42,22.43A1.65,1.65,0,0,1,483,303.2H437.79l.77-1.54c16.84-37.9,33.68-76.58,50.51-114.48,5.36-11.6,10.72-24,15.31-35.58,2.3-5.41,6.12-9.28,11.48-10.83,3.83-1.54,7.66-1.54,11.48-1.54H561v1.54l16.07,73.48c5.36,25.53,11.48,51.05,16.84,77.35C594.69,294.7,595.46,298.56,596.23,302.43Zm-91.08-57.24h36.73c-4.59-20.88-9.18-41-13-61.88C521.22,204.2,513.57,224.31,505.15,245.19ZM414.07,135.36c1.53,0,3.06,0,3.82.77a110.23,110.23,0,0,1,27.56,6.19h.76c-2.29,11.6-3.82,24-6.12,35.58a36.93,36.93,0,0,1-5.36-2.32,76.59,76.59,0,0,0-37.5-5.41c-5.36.77-10.72,1.54-15.31,5.41-3.06,2.32-5.36,5.41-4.59,10,0,3.1,2.29,5.42,3.83,7,3.82,3.86,8.41,6.18,13,8.5,6.89,3.87,13,7,19.9,10.06a43.48,43.48,0,0,1,18.37,17c5.35,7.73,6.88,16.24,6.12,26.29-2.3,20.11-13,33.26-29.85,41.77a96.1,96.1,0,0,1-29.85,9.28c-3.06,0-6.12.78-8.42.78h-17.6a6.8,6.8,0,0,1-3.83-.78,154.75,154.75,0,0,1-32.91-6.18,10.71,10.71,0,0,0-4.59-1.55l6.12-37.13c.77,0,.77,0,1.53.78,7.65,3.86,15.31,7,23.73,8.5,10.71,2.32,20.66,3.1,31.38,1.55a25,25,0,0,0,12.24-5.41c5.36-3.87,6.89-10.06,4.6-15.47-1.54-2.32-3.07-4.64-6.13-6.19a142.45,142.45,0,0,0-14.54-8.51c-7.65-3.87-15.31-7.73-23-13.15a51.87,51.87,0,0,1-14.54-17c-3.83-8.51-3.83-17.79-1.53-27.08,3.06-11.6,10.71-20.88,19.9-27.84,10.71-7.74,23-11.6,35.2-13.15,3.83-.77,6.89-.77,10.72-1.55H398a117.94,117.94,0,0,1,16.08-.77ZM94.14,160.11h.77c22.19,13.15,40.56,30.17,53.57,52.6,2.3,3.86,3.83,8.5,6.13,12.37a2.41,2.41,0,0,0,.76,1.55c1.53,6.19,2.3,11.6,3.83,17.79a14.3,14.3,0,0,0,1.53,5.41,2.7,2.7,0,0,1,.76-1.54c13.78-36.36,27.56-72.71,42.1-109.06h46.69a2.38,2.38,0,0,1-.77,1.54c-23,54.15-45.92,108.29-68.12,161.66a1.66,1.66,0,0,1-1.53,1.55H133.94c-.77-3.87-2.3-7-3.06-10.83-12.25-43.32-23.73-87.4-36-130.72A2.85,2.85,0,0,1,94.14,160.11Zm174.51-21.66H313c-.77,3.1-.77,5.42-1.53,8.51l-6.89,41.77-6.89,41.77-6.89,41.76c-1.53,10.06-3.83,20.11-5.36,30.17,0,1.55-.76,1.55-1.53,1.55H241.09C250.28,248.29,259.46,193.37,268.65,138.45Z" fill="#fff"/>
              <path d="M47.45,141.55a2.84,2.84,0,0,1,.77-2.32h70.41a44.55,44.55,0,0,1,10,1.54c6.13,1.55,9.95,7,11.48,13.15,5.36,24,9.95,48.73,15.31,72.71v1.55c0-.78,0-.78-.76-1.55-2.3-3.87-3.83-8.51-6.13-12.38-13-22.43-30.61-39.44-53.57-52.59h-.77a2.64,2.64,0,0,0-1.53-.78,200.11,200.11,0,0,0-45.16-17Z" fill="#ff9e16"/>
            </svg>
          </div>
          <div class="tb__icon tb__icon--solid mx-1 my-1">
            <svg width="48" height="28" viewBox="0 0 670.55 444.75">
              <path d="M419.29,372.33H252.06V73.13H418.59v299.2Z" fill="#ff5f00"/>
              <path d="M262.87,222.38A189.22,189.22,0,0,1,336,72.65a189.41,189.41,0,0,0-118.1-40.77c-105.44,0-191.2,85.05-191.2,190.5a190.2,190.2,0,0,0,190.5,190.49,192.16,192.16,0,0,0,118.1-40.77c-44.29-34.44-72.41-88.57-72.41-149.72" fill="#eb001b"/>
              <path d="M643.87,222.38a190.2,190.2,0,0,1-190.5,190.49A192.14,192.14,0,0,1,335.28,372.1a189.88,189.88,0,0,0,0-299.45c32.33-26,73.1-40.77,118.09-40.77a190.2,190.2,0,0,1,190.5,190.5" fill="#f79e1b"/>
            </svg>
          </div>
          <div class="tb__icon tb__icon--solid mx-1 my-1">
            <svg width="48" height="28" viewBox="0 0 799.6 444.22">
              <rect width="799.6" height="444.22" rx="76.78" fill="#ffb3c7"/>
              <path d="M725,261a19.12,19.12,0,1,0,18.94,19.12A19,19,0,0,0,725,261Zm-62.32-14.78c0-14.45-12.24-26.16-27.35-26.16S608,231.81,608,246.26s12.24,26.17,27.34,26.17S662.66,260.72,662.66,246.26Zm.1-50.85h30.18V297.12H662.76v-6.5a52.58,52.58,0,0,1-29.92,9.32c-29.37,0-53.19-24-53.19-53.68s23.82-53.67,53.19-53.67a52.58,52.58,0,0,1,29.92,9.32v-6.5ZM421.24,208.66V195.41H390.35V297.12h31V249.63c0-16,17.21-24.63,29.15-24.63h.36V195.42c-12.25,0-23.53,5.29-29.58,13.24Zm-77,37.61c0-14.46-12.25-26.17-27.35-26.17s-27.35,11.71-27.35,26.17,12.25,26.17,27.35,26.17S344.28,260.72,344.28,246.27Zm.1-50.86h30.18V297.12H344.38v-6.5a52.58,52.58,0,0,1-29.92,9.32c-29.38,0-53.19-24-53.19-53.68s23.81-53.66,53.19-53.66a52.57,52.57,0,0,1,29.92,9.31v-6.5ZM526,192.67c-12.06,0-23.47,3.78-31.1,14.2V195.41H464.88V297.12H495.3V243.67c0-15.47,10.28-23,22.66-23,13.26,0,20.89,8,20.89,22.83v53.66H569V232.44c0-23.67-18.65-39.77-43-39.77ZM217.31,297.12H248.9v-147H217.31Zm-138.76,0H112V150.05H78.55Zm117-147.11a117.55,117.55,0,0,1-34.22,83.5l46.24,63.62H166.25L116,228l13-9.8a84.76,84.76,0,0,0,33.84-68.18Z" transform="translate(-0.24 -0.3)" fill="#0a0b09" fill-rule="evenodd"/>
            </svg>
          </div>
          <div class="tb__icon tb__icon--solid mx-1 my-1">
            <svg width="48" height="28" viewBox="0 0 799.6 444.22">
              <rect width="799.6" height="444.22" rx="76.78" fill="#fff"/>
              <path d="M77.83,252l25.5-80.62a2.68,2.68,0,0,1,2.37-2h12.8a3.15,3.15,0,0,1,2.51,2l19.86,50.87c.38,1,1.4,1.11,1.74,0l19.71-50.87a3.15,3.15,0,0,1,2.51-2h12.8a2.68,2.68,0,0,1,2.37,2L205.21,252a1.94,1.94,0,0,1-.92,2.58,2,2,0,0,1-1,.18H188.11a2.22,2.22,0,0,1-2.27-1.74l-16.18-52.36c-.24-1-1.4-1-1.74,0l-19.32,52a2.86,2.86,0,0,1-2.76,2.13h-8.93c-1.4,0-2.13-.78-2.66-2.13l-19.71-52c-.38-1-1.4-1-1.64,0L96.33,253.05A2.27,2.27,0,0,1,94,254.79H79.47a1.88,1.88,0,0,1-1.85-1.91,1.78,1.78,0,0,1,.21-.85Zm132.21-29a33.81,33.81,0,1,1,34.48,33.13h-.67a32.7,32.7,0,0,1-33.79-31.57C210,224.1,210,223.57,210,223.05Zm50.24,0a16.62,16.62,0,1,0-16.43,17.73,17.05,17.05,0,0,0,16.33-17.73Zm47.14,26.52c-1.25-1-2.36-.63-2.36,1.11v1.64a2.37,2.37,0,0,1-2.27,2.37H291a2.46,2.46,0,0,1-2.37-2.37V171.7a2.46,2.46,0,0,1,2.37-2.36h12.41a2.37,2.37,0,0,1,2.28,2.36v23c0,1.64,1.11,2.12,2.89.87a27.54,27.54,0,0,1,16.48-5.51c17.19,0,30.38,14.49,30.38,33.14a31.69,31.69,0,0,1-30.2,33.11l-.72,0a25.67,25.67,0,0,1-17.1-6.76Zm30.92-26.37a16.62,16.62,0,1,0-33.14-2.54,17.94,17.94,0,0,0,0,2.54,16.82,16.82,0,0,0,16.17,17.43h.3a17,17,0,0,0,16.67-17.42v0Zm27.49-48a9.66,9.66,0,1,1,9.66,9.66A9.65,9.65,0,0,1,365.83,175.23Zm.86,77.29V194.07A2.38,2.38,0,0,1,369,191.7h12.42a2.46,2.46,0,0,1,2.56,2.36h0v58.25a2.46,2.46,0,0,1-2.37,2.37H369a2.38,2.38,0,0,1-2.27-2.37Zm31.06-19.13V171.7a2.37,2.37,0,0,1,2.28-2.36h12.41a2.46,2.46,0,0,1,2.37,2.36v62.08c0,4,1.74,6.66,6.13,6.66a2.37,2.37,0,0,1,2.37,2.37h0V253.1a2.37,2.37,0,0,1-2.37,2.27c-16.52,0-23.19-5.41-23.19-22Zm30.2-9.95a32.65,32.65,0,1,1,65.3.24c0,2.27-.62,4.15-2.89,4.15H447.17c-1.11,0-1.5.63-1.4,1.65a14.49,14.49,0,0,0,15.46,12.41,15.37,15.37,0,0,0,11.93-5.41,4.85,4.85,0,0,1,4-2h11.54c2,0,2.9,1.4,2.13,3.38A33.09,33.09,0,0,1,428,223.34Zm45.84-5.8c.87,0,1.25-.39,1.11-1.4a14.51,14.51,0,0,0-14.49-11.79,14.89,14.89,0,0,0-14.49,11.45c-.25.87,0,1.74,1,1.74Zm29.9,34.68V171.7a2.36,2.36,0,0,1,2.27-2.36h39.56c18.07,0,30.38,10.53,30.38,28.25s-14,28.65-31.25,28.65h-21a2.07,2.07,0,0,0-2.28,1.85,1.81,1.81,0,0,0,0,.52v23.71a2.46,2.46,0,0,1-2.37,2.37H506a2.37,2.37,0,0,1-2.32-2.37Zm41-40.67a13.62,13.62,0,0,0,13.19-14,12.89,12.89,0,0,0-12.5-13.28H523.49c-1.49,0-2.12.77-2.12,2.27v22.85c0,1.49.63,2.27,2.12,2.27ZM582,223.05a31.93,31.93,0,0,1,30.69-33.12l.47,0a25.31,25.31,0,0,1,16.71,6.43c1.11,1,2.37.87,2.37-.63v-1.64a2.26,2.26,0,0,1,2.27-2.27h11.78a2.46,2.46,0,0,1,2.37,2.36v41.45c0,3.14,1.11,4.54,3.29,4.83a2.17,2.17,0,0,1,2.12,2v10.92a2.12,2.12,0,0,1-2.12,2.12h0c-8.31,0-13.19-2.36-15.94-7.15-.78-1.25-1.65-1.49-2.9-.24a27.78,27.78,0,0,1-20.24,8.41A31.83,31.83,0,0,1,582,223.78Zm50.24,0a16.57,16.57,0,0,0-33-2.53,15.27,15.27,0,0,0,0,2.53,16.57,16.57,0,1,0,33,2.53A17.8,17.8,0,0,0,632.23,223.05Zm27.68,53.76V266.53a2.35,2.35,0,0,1,2.36-2.27,17.64,17.64,0,0,0,18.07-12.08,7,7,0,0,0-.48-4.83l-23.09-52.27a2.26,2.26,0,0,1,.87-3.09,2.22,2.22,0,0,1,1.16-.29h12.41c1.26,0,2,1,2.51,2.27l14.49,33.43c1,2.66,2.66,2.51,3.77,0l13.82-33.53c.48-1.25,1.11-2,2.36-2H720.1a2.17,2.17,0,0,1,2.12,3l-23.77,56.23c-8.64,20.48-17.82,28.11-36.18,28.11a2.46,2.46,0,0,1-2.36-2.37Z" transform="translate(-0.24 -0.3)" fill="#5a78ff"/>
            </svg>
          </div>
          <div class="tb__icon tb__icon--solid mx-1 my-1">
            <svg width="48" height="28" viewBox="0 0 799.6 444.22">
              <defs>
                <linearGradient id="linear-gradient" x1="94.27" y1="616.23" x2="94" y2="616.89" gradientTransform="matrix(125.82, 0, 0, -155.25, -11683.19, 95944.8)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#ef2131"/>
                  <stop offset="1" stop-color="#fecf2c"/>
                </linearGradient>
                <linearGradient id="linear-gradient-2" x1="94.64" y1="616.47" x2="94" y2="615.26" gradientTransform="matrix(114.75, 0, 0, -125.78, -10642.36, 77735.34)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#fbc52c"/>
                  <stop offset="0.26" stop-color="#f87130"/>
                  <stop offset="0.56" stop-color="#ef52e2"/>
                  <stop offset="1" stop-color="#661eec"/>
                </linearGradient>
                <linearGradient id="linear-gradient-3" x1="94.09" y1="616.79" x2="94.35" y2="616.15" gradientTransform="matrix(125.82, 0, 0, -155.25, -11733.19, 95924.25)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#78f6d8"/>
                  <stop offset="0.27" stop-color="#77d1f6"/>
                  <stop offset="0.55" stop-color="#70a4f3"/>
                  <stop offset="1" stop-color="#661eec"/>
                </linearGradient>
                <linearGradient id="linear-gradient-4" x1="93.66" y1="615.65" x2="94.29" y2="616.85" gradientTransform="matrix(114.75, 0, 0, -125.78, -10681.28, 77685.22)" gradientUnits="userSpaceOnUse">
                  <stop offset="0" stop-color="#536eed"/>
                  <stop offset="0.25" stop-color="#54c3ec"/>
                  <stop offset="0.56" stop-color="#64d769"/>
                  <stop offset="1" stop-color="#fecf2c"/>
                </linearGradient>
              </defs>
              <rect width="799.6" height="444.22" rx="76.78" fill="#fff"/>
              <g>
                <path d="M735.11,172.14a18.82,18.82,0,0,1,1.44-7.35,19.21,19.21,0,0,1,3.92-6,18.24,18.24,0,0,1,5.79-4,17.45,17.45,0,0,1,7.14-1.47,17.91,17.91,0,0,1,7.23,1.47,18.37,18.37,0,0,1,5.87,4,18.91,18.91,0,0,1,3.94,6,19.35,19.35,0,0,1,0,14.7,18.85,18.85,0,0,1-3.94,6,18.37,18.37,0,0,1-5.87,4A17.91,17.91,0,0,1,753.4,191a17.45,17.45,0,0,1-7.14-1.47,18.24,18.24,0,0,1-5.79-4,19.14,19.14,0,0,1-3.92-6A18.75,18.75,0,0,1,735.11,172.14Zm3.76,0a16.18,16.18,0,0,0,1.11,6A15.16,15.16,0,0,0,743,183a14.49,14.49,0,0,0,4.61,3.25,13.92,13.92,0,0,0,5.75,1.18,14.25,14.25,0,0,0,5.82-1.18,14.7,14.7,0,0,0,4.66-3.25,15.11,15.11,0,0,0,3.11-4.85,16.54,16.54,0,0,0,0-12.07,15.11,15.11,0,0,0-3.11-4.85,14.54,14.54,0,0,0-4.66-3.25,14.26,14.26,0,0,0-5.82-1.19,13.93,13.93,0,0,0-5.75,1.19,14.33,14.33,0,0,0-4.61,3.25,15.16,15.16,0,0,0-3.06,4.85A16.16,16.16,0,0,0,738.87,172.14Zm8.24-8.09a1.51,1.51,0,0,1,1.7-1.71h5.82a6.11,6.11,0,0,1,4.43,1.6,5.76,5.76,0,0,1,1.65,4.33,5.52,5.52,0,0,1-.34,2,5.45,5.45,0,0,1-.85,1.52,5.11,5.11,0,0,1-1.13,1.06,4,4,0,0,1-1.23.56v.11a2,2,0,0,1,.15.2,1.11,1.11,0,0,1,.21.34,3.24,3.24,0,0,0,.31.54l2.67,5.21a1.6,1.6,0,0,1,.21,1.42,1.12,1.12,0,0,1-1.13.54H759a2,2,0,0,1-2-1.24l-3-6.29h-3.19v5.88a1.44,1.44,0,0,1-1.6,1.65h-.46a1.44,1.44,0,0,1-1.6-1.65Zm6.75,7.53a3.06,3.06,0,0,0,2.32-.88,3.41,3.41,0,0,0,.82-2.43,3.14,3.14,0,0,0-.82-2.32,3.07,3.07,0,0,0-2.27-.82h-3.14v6.45ZM603.71,183.91a43.15,43.15,0,0,1,14.82,2.23,73,73,0,0,1,9.5,4.11,6,6,0,0,1,3.43,4.12,8.7,8.7,0,0,1-.86,5.49L628.89,203c-1,2.05-2.34,3.26-3.94,3.6a9.52,9.52,0,0,1-5.65-.86c-1.94-.91-4.28-1.86-7-2.83a28.73,28.73,0,0,0-9.59-1.46c-3.77,0-6.68.75-8.74,2.23a7.38,7.38,0,0,0-3.08,6.35,6.82,6.82,0,0,0,3.17,5.83,32.63,32.63,0,0,0,8.05,3.94l10.44,3.69A52,52,0,0,1,623,228.5a26.46,26.46,0,0,1,8,7.89q3.16,4.8,3.17,12.18a24.77,24.77,0,0,1-2.31,10.72,24.48,24.48,0,0,1-6.68,8.49,32.66,32.66,0,0,1-10.54,5.66A43.11,43.11,0,0,1,601,275.5q-10.62,0-17.89-3.09a63.48,63.48,0,0,1-11.22-5.83,6,6,0,0,1-3.26-4.29,8.16,8.16,0,0,1,1.55-5.49l2.05-3.09a6.39,6.39,0,0,1,4.2-3.08A9.28,9.28,0,0,1,582,252c2.06,1.14,4.71,2.43,8,3.86A28.54,28.54,0,0,0,601.49,258c3.77,0,6.73-.8,8.9-2.4a7.67,7.67,0,0,0,3.26-6.52,6.62,6.62,0,0,0-3.17-5.74,37.73,37.73,0,0,0-8.05-4L592,235.53a55.43,55.43,0,0,1-10.45-5.14,26.54,26.54,0,0,1-8-7.89q-3.18-4.8-3.17-12.35a23.34,23.34,0,0,1,9.84-19.55,34,34,0,0,1,10.62-5,47.63,47.63,0,0,1,12.93-1.71Zm-254.58,0A43.15,43.15,0,0,1,364,186.14a73,73,0,0,1,9.5,4.11,6,6,0,0,1,3.43,4.12,8.7,8.7,0,0,1-.86,5.49L374.31,203c-1,2.05-2.34,3.26-3.94,3.6a9.52,9.52,0,0,1-5.65-.86c-1.94-.91-4.28-1.86-7-2.83a28.73,28.73,0,0,0-9.59-1.46c-3.77,0-6.68.75-8.74,2.23a7.38,7.38,0,0,0-3.08,6.35,6.84,6.84,0,0,0,3.17,5.83,32.63,32.63,0,0,0,8.05,3.94L358,223.44a51.76,51.76,0,0,1,10.45,5.06,26.46,26.46,0,0,1,8.05,7.89q3.17,4.8,3.17,12.18a24.77,24.77,0,0,1-2.31,10.72,24.48,24.48,0,0,1-6.68,8.49,32.72,32.72,0,0,1-10.53,5.66,43.17,43.17,0,0,1-13.71,2.06q-10.62,0-17.89-3.09a63.48,63.48,0,0,1-11.22-5.83,6,6,0,0,1-3.26-4.29,8.16,8.16,0,0,1,1.55-5.49l2.05-3.09a6.39,6.39,0,0,1,4.2-3.08,9.28,9.28,0,0,1,5.56,1.37c2.06,1.14,4.71,2.43,8,3.86A28.54,28.54,0,0,0,346.91,258c3.77,0,6.73-.8,8.9-2.4a7.67,7.67,0,0,0,3.26-6.52,6.62,6.62,0,0,0-3.17-5.74,37.73,37.73,0,0,0-8-4l-10.45-3.86A55,55,0,0,1,327,230.39a26.46,26.46,0,0,1-8-7.89q-3.18-4.8-3.17-12.35a23.31,23.31,0,0,1,9.85-19.55,33.87,33.87,0,0,1,10.61-5,47.63,47.63,0,0,1,12.93-1.71Zm312.29-32.24q7.2,0,7.2,7.2V194.2q0,1.71-.09,3a23.08,23.08,0,0,1-.26,2.32,15.47,15.47,0,0,0-.17,2h.34a29.61,29.61,0,0,1,4.37-6.26,34.76,34.76,0,0,1,6.68-5.74,34,34,0,0,1,8.74-4.12,34.68,34.68,0,0,1,10.53-1.54q14.55,0,22.52,7.89t8,25.38v49.05q0,7.22-7.19,7.21h-7.36q-7.2,0-7.2-7.21V221.64q0-8.05-2.74-12.95t-11-4.89A24,24,0,0,0,683.43,206a23.41,23.41,0,0,0-8,6.09,28,28,0,0,0-5.06,9.18,35.57,35.57,0,0,0-1.79,11.49v33.44q0,7.22-7.2,7.21h-7.36q-7.2,0-7.2-7.21V158.87q0-7.2,7.2-7.2ZM547.63,186q7,0,7,7.2v73.06q0,7.22-7,7.21h-7.54q-7,0-7-7.21V193.17q0-7.2,7-7.2Zm-145.32,0q6.51,0,7.71,6.34l14,51.11c.23,1.26.43,2.4.6,3.43s.37,2,.6,2.92.4,2,.51,2.91h.35q.17-1.37.51-2.91c.23-.92.43-1.89.6-2.92s.43-2.17.77-3.43l14.73-51.11q1.2-6.17,7.88-6.17h6.51q6.33,0,7.87,6.17l14.56,51.11a32.81,32.81,0,0,1,.77,3.43c.17,1,.37,2,.6,2.92s.4,2,.52,2.91h.34q.17-1.37.51-2.91c.23-.92.43-1.89.6-2.92s.43-2.17.77-3.43l13.88-51.11q1.53-6.34,7.87-6.34h7.88q3.94,0,5.48,2.23c1,1.48,1.2,3.43.52,5.83l-22.44,73.4q-1.71,6-8.05,6H477.33q-6.51,0-8.05-6.18l-13.19-43.73c-.34-1.15-.63-2.29-.86-3.43s-.45-2.17-.68-3.09-.4-2-.52-2.92h-.34c-.23.92-.46,1.89-.68,2.92s-.46,1.94-.69,3.09-.51,2.28-.86,3.43l-13.18,43.73q-1.54,6.18-7.88,6.18H418.58q-6.16,0-7.88-6L388.1,194c-.69-2.4-.49-4.35.6-5.83s2.88-2.23,5.39-2.23Z" transform="translate(-0.24 -0.3)" fill="#4a4a49"/>
                <g>
                  <path d="M92.5,324.55A113.22,113.22,0,0,0,214.08,135.67l-31.84,37.94a88.4,88.4,0,0,1,10.89,124.58C168.1,328,126.87,338,92.5,324.55" transform="translate(-0.24 -0.3)" fill-rule="evenodd" fill="url(#linear-gradient)"/>
                  <path d="M92.5,324.55A113.39,113.39,0,0,0,239,279.6a99.15,99.15,0,0,0-56.75-106,88.41,88.41,0,0,1,10.88,124.57C168.1,328,126.87,338,92.5,324.55" transform="translate(-0.24 -0.3)" fill-rule="evenodd" fill="url(#linear-gradient-2)"/>
                </g>
                <path d="M190.13,120.2A113.22,113.22,0,0,0,68.55,309.08l31.84-37.94A88.4,88.4,0,0,1,89.5,146.56c25-29.83,66.26-39.79,100.63-26.36" transform="translate(-0.24 -0.3)" fill-rule="evenodd" fill="url(#linear-gradient-3)"/>
                <path d="M190.13,120.2a113.39,113.39,0,0,0-146.5,45,99.15,99.15,0,0,0,56.75,106A88.41,88.41,0,0,1,89.5,146.56c25-29.83,66.26-39.79,100.63-26.36" transform="translate(-0.24 -0.3)" fill-rule="evenodd" fill="url(#linear-gradient-4)"/>
              </g>
            </svg>
          </div>
          <div class="tb__icon tb__icon--solid mx-1 my-1">
            <svg width="28" height="28" viewBox="0 0 64 64">
              <path fill="#009CDE" d="M58.4 20.6c-.9-1.6-2.1-3-3.7-4-1.4-.9-2.9-1.5-4.7-1.9 0 .5.1 1.1.1 1.6 0 5.6-2.3 10-6.9 13.4-4.6 3.4-11.1 5.1-19.3 5.1h-4.6l-5.9 25.6h12.1L29 45.1h4.6c8.3 0 14.7-1.7 19.3-5.1 4.6-3.4 6.9-7.9 6.9-13.4-.1-2.3-.5-4.4-1.4-6z"/>
              <path fill="#002F86" d="M40.9 13.9c3.1 0 5.7.2 8 .6.1 0 .2 0 .3.1.3.1.5.1.8.2-.2-1.7-.6-3.2-1.2-4.5-.9-1.6-2.1-3-3.7-4s-3.6-1.7-5.9-2.2c-2.3-.4-4.9-.6-8-.6H14.5L3.7 50.1h12.1l3.5-15.2 4.9-21h16.7z"/>
              <path fill="#012069" d="M43.2 29.8c4.6-3.4 6.9-7.9 6.9-13.5 0-.6 0-1.1-.1-1.6-.3-.1-.5-.1-.8-.2h-.3c-2.3-.4-4.9-.6-8-.6H24.2l-4.9 21h4.6c8.2 0 14.7-1.7 19.3-5.1z"/>
            </svg>
          </div>
        </div>
        {% endcomment %}
      </div>
    </div>
    {%- endif -%}
    <div class="col-12 col-md order-2">
      <p class="text-center text-md-left small">Copyright © {{ 'now' | date: "%Y" }} Bareen T-shirt</p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Footer",
  "class": "footer py-4 pt-lg-7",
  "tag": "footer",
  "settings": [
    {
      "type": "header",
      "content": "Column 1"
    },
    {
      "type": "text",
      "id": "col_1_title",
      "label": "Heading",
      "default": "BARE EN T-SHIRT"
    },
    {
      "type": "textarea",
      "id": "col_1_text",
      "label": "Text",
      "default": "T-shirts fra ‘Bare En T-shirt’ er i virkeligheden langt fra bare at være en T-shirt. Vores T-shirts er et symbol på hårdt arbejde, en årelang optimeringsproces og en endeløs jagt på perfektion. Perfektion er en diffus og uopnåelig størrelse, men det er tanken om den, jagten på den og drømmen om den, der driver os."
    },
    {
      "type": "text",
      "id": "col_1_contact_title",
      "label": "Contacts title",
      "default": "Kundenservice"
    },
    {
      "type": "richtext",
      "id": "col_1_contact_text",
      "label": "Contacts text"
    },
    {
      "type": "header",
      "content": "Column 2"
    },
    {
      "type": "text",
      "id": "col_2_title",
      "label": "Heading",
      "default": "SHOP"
    },
    {
      "type": "link_list",
      "id": "col_2_menu",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "Column 3"
    },
    {
      "type": "text",
      "id": "col_3_title",
      "label": "Heading",
      "default": "INFORMATION"
    },
    {
      "type": "link_list",
      "id": "col_3_menu",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "Column 4"
    },
    {
      "type": "text",
      "id": "col_4_title",
      "label": "Heading",
      "default": "NYHEDSBREV"
    },
    {
      "type": "textarea",
      "id": "col_4_text",
      "label": "Text",
      "default": "Modtag nyheder og ekstraordinære tilbud."
    },
    {
      "type": "textarea",
      "id": "col_4_code",
      "label": "Extra code (below)"
    }
  ],
  "blocks": [
    {
      "name": "Payment Icons",
      "type": "payment_icons",
      "settings": [
        {
          "type": "textarea",
          "id": "svg_icon",
          "label": "SVG icon",
		  "info": "Drop SVG code (html) here."
        },
        {
          "type": "image_picker",
          "id": "image_icon",
          "label": "Image icon"
        }
	  ]
    }
  ]
}
{% endschema %}
