{%- assign gift-card-count = 0 -%}
{%- for item in cart.items -%}
{%- if item.gift_card == true -%}
{%- assign gift-card-count = gift-card-count | plus: item.quantity -%}
{%- endif -%}
{%- endfor -%}
{%- assign s = section.settings -%}
{%- if template == 'index' or template == 'page.project' and s.enable_transparent_header -%}<!--transparent-->{%- endif -%}
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <div class="navbar-brand order-1 mx-auto mx-lg-0 mr-lg-10">
      <a href="{{ routes.root_url }}">
        <svg width="224" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 223.5 18.5">
          <rect style="fill: #c03230;" x="98.4" y="0.3" width="9.2" height="18"/>
          <rect style="fill: #c03230;" x="116.7" y="0.3" width="9.2" height="18"/>
          <rect style="fill: #ffffff;" x="107.6" y="0.3" width="9.2" height="18"/>
          <path d="M0,0.3h6.5c1.4-0.1,2.8,0.3,4,1.1c1,0.9,1.5,2.2,1.3,3.5c0,0.9-0.2,1.8-0.6,2.6c-0.4,0.7-1,1.2-1.7,1.5 c1.8,0.6,3,2.3,2.9,4.2c0.1,1.4-0.4,2.9-1.4,3.9c-1.2,0.9-2.7,1.3-4.1,1.2H0V0.3z M6.4,2.1H2v6.2h4.6c0.9,0.1,1.8-0.2,2.4-0.8 C9.6,6.8,9.9,6,9.8,5.1C9.9,4.2,9.6,3.4,9,2.8C8.3,2.2,7.4,2,6.4,2.1L6.4,2.1z M6.7,10H2v6.5h4.8c1,0.1,1.9-0.2,2.7-0.7 c0.7-0.7,1-1.6,0.9-2.6c0-0.6-0.1-1.2-0.4-1.7c-0.2-0.4-0.6-0.8-1-1C8.3,10.2,7.5,10,6.7,10z"/>
          <path d="M14.2,18.3l4.9-18h4.4l4.9,18h-2l-1.3-4.6h-7.7l-1.3,4.6H14.2z M20.6,2l-2.7,9.9h6.8L22,2H20.6z"/>
          <path d="M33.3,11.4v6.9h-2v-18h6.6c1.5-0.1,3.1,0.4,4.3,1.3c1,1.1,1.6,2.6,1.4,4.1c0,2.8-1.1,4.5-3.3,5.2l3.5,7.3 h-2.2l-3.2-6.9L33.3,11.4z M37.9,9.6c2.4,0,3.7-1.3,3.7-3.8c0-2.5-1.2-3.8-3.7-3.8h-4.7v7.6H37.9z"/>
          <path d="M47.3,18.3v-18h10.9v1.8h-8.9v6.2h7.4V10h-7.4v6.5h8.9v1.8L47.3,18.3z"/>
          <path d="M61.7,18.3v-18h10.9v1.8h-8.9v6.2H71V10h-7.4v6.5h8.9v1.8L61.7,18.3z"/>
          <path d="M76,18.3v-18h3.7l6.9,16.2h0.5V0.3h2v18h-3.7l-7-16.2H78v16.2H76z"/>
          <path d="M134.9,2.1V0.3h13v1.8h-5.5v16.2h-2V2.1H134.9z"/>
          <path d="M147.6,12v-1.8h7.9V12H147.6z"/>
          <path d="M163.7,1.8c-2.6,0-3.9,1-3.9,2.9c-0.1,0.9,0.2,1.7,0.9,2.2c1.1,0.6,2.4,1,3.6,1.2c1.4,0.2,2.7,0.8,3.9,1.6 c0.8,0.8,1.3,2,1.1,3.2c0,3.7-1.9,5.5-5.7,5.5c-1.6,0-3.2-0.2-4.7-0.4l-0.9-0.1l0.2-1.7c1.8,0.3,3.6,0.4,5.4,0.5 c2.6,0,3.8-1.2,3.8-3.6c0.1-0.8-0.2-1.6-0.8-2.1c-1-0.6-2-0.9-3.1-1.1c-1.5-0.2-3-0.8-4.3-1.7c-0.9-0.9-1.4-2.2-1.3-3.4 c0-3.2,1.9-4.8,5.8-4.8c1.5,0,3,0.2,4.5,0.4l0.9,0.1l-0.2,1.7C167.1,2,165.4,1.8,163.7,1.8L163.7,1.8z"/>
          <path d="M183.9,18.2v-8.1h-9.1v8.1h-2V0.3h2v8h9.1v-8h2v17.9L183.9,18.2z"/>
          <path d="M190.3,18.2V0.3h2v17.9L190.3,18.2z"/>
          <path d="M198.6,11.4v6.9h-2V0.3h6.6c1.5-0.1,3.1,0.4,4.3,1.3c1,1.1,1.6,2.6,1.4,4.1c0,2.8-1.1,4.5-3.3,5.2l3.4,7.3 H207l-3.2-6.9H198.6z M203.3,9.6c2.4,0,3.7-1.3,3.7-3.8c0-2.5-1.2-3.8-3.7-3.8h-4.6v7.5L203.3,9.6z"/>
          <path d="M210.5,2.1V0.3h13v1.8H218v16.2h-2V2.1H210.5z"/>
        </svg>
      </a>
    </div>
    <div id="headerCollapsable" class="navbar-collapse collapse order-lg-1 mt-lg-0" data-parent="#shopify-section-header">
      {%- if s.primary_nav != blank -%}
      {%- assign primary_nav = linklists[s.primary_nav] -%}
      <ul id="primary-nav" class="navbar-nav nav-space-lg-4" data-toggle="menu">
        {%- for link in primary_nav.links -%}
        {% if link.links != blank %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle nocaret" href="{{ link.url }}" data-text="{{ link.title }}">
            <span class="text-underline">{{ link.title }}</span>
          </a>
          <button class="btn-toggle"><span></span></button>
          <ul class="dropdown-menu">
            {%- for sublink in link.links -%}
            <li class="dropdown-item{% if sublink.links != blank %} float-lg-left w-lg-200p{% endif %}">
              <a href="{{ sublink.url }}" data-text="{{ sublink.title }}">
                <span class="text-underline">{{ sublink.title }}</span>
              </a>
              {% if sublink.links != blank %}
              <ul class="list-unstyled">
                {%- for subsublink in sublink.links -%}
                <li>
              	  <a href="{{ subsublink.url }}" data-text="{{ subsublink.title }}">
                    <span class="text-underline">{{ subsublink.title }}</span>
                  </a>
                </li>
                {%- endfor -%}
              </ul>
              {% endif %}
            </li>
            {%- endfor -%}
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ link.url }}" data-text="{{ link.title }}">
            <span class="text-underline">{{ link.title }}</span>
          </a>
        </li>
        {% endif %}
        {%- endfor -%}
      </ul>
      {%- endif -%}
      <hr class="d-lg-none w-100 o-50">
      {%- if s.secondary_nav != blank or settings.localization_links != blank -%}
      <ul id="secondary-nav" class="navbar-nav nav-space-lg-4 ml-lg-auto" data-toggle="menu">
        {%- if s.secondary_nav != blank -%}
        {%- assign secondary_nav = linklists[s.secondary_nav] -%}
        {%- for link in secondary_nav.links -%}
        {% if link.links != blank %}
        <li class="nav-item dropdown d-md-none">
          <a class="nav-link dropdown-toggle nocaret" href="{{ link.url }}" data-text="{{ link.title }}">
            <span class="text-underline">{{ link.title }}</span>
          </a>
          <button class="btn-toggle"><span></span></button>
          <ul class="dropdown-menu">
            {%- for sublink in link.links -%}
            <li class="dropdown-item{% if sublink.links != blank %} float-lg-left w-lg-200p{% endif %}">
              <a href="{{ sublink.url }}" data-text="{{ sublink.title }}">
                <span class="text-underline">{{ sublink.title }}</span>
              </a>
              {% if sublink.links != blank %}
              <ul class="list-unstyled">
                {%- for subsublink in sublink.links -%}
                <li>
              	  <a href="{{ subsublink.url }}" data-text="{{ subsublink.title }}">
                    <span class="text-underline">{{ subsublink.title }}</span>
                  </a>
                </li>
                {%- endfor -%}
              </ul>
              {% endif %}
            </li>
            {%- endfor -%}
          </ul>
        </li>
        {% else %}
        <li class="nav-item d-md-none">
          <a class="nav-link" href="{{ link.url }}" data-text="{{ link.title }}">
            <span class="text-underline">{{ link.title }}</span>
          </a>
        </li>
        {% endif %}
        {%- endfor -%}
        {%- endif -%}
        {% if customer.id == null %}
        <li class="nav-item order-0">
          <a class="nav-link" href="{{ routes.account_login_url }}" data-text="{{ 'header.navigation.login' | t }}">
            <span class="text-underline">{{ 'header.navigation.login' | t }}</span>
          </a>
        </li>
        {%- else -%}
        <li class="nav-item order-0">
          {% comment %}<a class="nav-link" href="/tools/recurring/login">{{ 'header.navigation.account' | t }}</a>{% endcomment %}
          <a class="nav-link" href="{{ routes.account_url }}" data-text="{{ 'header.navigation.account' | t }}">
            <span class="text-underline">{{ 'header.navigation.account' | t }}</span>
          </a>
        </li>
        {%- endif -%}
        {%- if settings.localization_links != blank -%}
        <li class="nav-item nav-item-localization dropdown order-3">
          <a class="nav-link dropdown-toggle" href="javascript:;" data-toggle="modal" data-target="#modal_country">
            <span class="text-underline">{{ 'header.navigation.shipping' | t }}</span>
          </a>
        </li>
        {%- endif -%}
      </ul>
      {%- endif -%}
    </div>
    <button class="btn btn-sm btn-link btn-fixed d-lg-none mr-3 ml-n1 ml-sm-0 btnNavToggle" data-target="#headerCollapsable">
      <span class="navbar-toggler inactive collapsed">
        <span class="navbar-toggler-icon"></span>
      </span>
    </button>
    <button class="btn btn-cart btn-sm btn-link btn-fixed order-3 ml-3 ml-lg-10 mr-n1 mr-sm-0 position-relative btnCartToggle js-cart-drawer-toggle" href="javascript:;" data-target="#cart">
      <span class="d-none js-cart-count-exclude">{{ gift-card-count }}</span>
      <span class="btn-cart-items js-cart-count">{{ cart.item_count }}</span>
      <span class="tb__icon tb__icon--solid">
        <svg width="21" height="23"><use xlink:href="#bag"></use></svg>
      </span>
    </button>
  </div>
</nav>


{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header",
  "default": {
	"settings": {
    	"enable_transparent_header": false
    }
  },
  "settings": [
    {
      "type": "header",
      "content": "Currency selector",
      "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "primary_nav",
      "label": "Primary navigation (left)"
    },
    {
      "type": "link_list",
      "id": "secondary_nav",
      "label": "Secondary navigation (right)",
      "info": "Shipping link is controlled from global theme settings (Localization)"
    },
    {
      "type": "header",
      "content": "Transparent header"
    },
    {
      "type": "checkbox",
      "id": "enable_transparent_header",
      "label": "Enable on homepage",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_transparent_header_border",
      "label": "Show separation border",
      "default": true
    }
  ]
}
{% endschema %}