<div class="section_container">

  <div class="main_content container">

    <div class="section_header">
      {% if section.settings.title != blank %}
        <div class="title display-2 text-center">{{ section.settings.title }}</div>
      {% endif %}
    </div>

    {% if section.blocks.size > 0 %}

      <div class="image-text-grid-blocks">

        {% for block in section.blocks %}

          {% assign bset = block.settings %}
          {% assign single_layout = true %}

          {% if bset.image1 != blank and bset.image2 != blank %}
            {% assign single_layout = false %}
          {% endif %}


          {% if single_layout %}
            <div class="image-text-grid-item layout-{% if single_layout %}single{% if bset.image_pos == 'right' %} reverse{% endif %}{% else %}complex{% endif %}">
              <div class="image_wrapper tb__image">
                {% render 'rimage', image: bset.image1 %}
              </div>
              <div class="content_wrapper">
                <div class="content-{{ bset.content_pos }}">
                  {% if bset.title1 != blank %}
                    <div class="title display-2">{{ bset.title1 }}</div>
                  {% endif %}
                  {% if bset.text1 != blank %}
                    <div class="text">{{ bset.text1 }}</div>
                  {% endif %}
                  {% if bset.btn_link1 != blank and bset.btn_label1 != blank %}
                    <div class="btn_wrapper">
                      <a href="{{ bset.btn_link1 }}" class="btn {{ bset.btn_style1 }}">{{ bset.btn_label1 }}</a>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% else %}
            <div class="image-text-grid-item layout-{% if single_layout %}single{% if bset.image_pos == 'right' %} reverse{% endif %}{% else %}complex{% endif %} hide--mobile">
          
              <div class="image_wrapper tb__image block-1 block-image">
                {% render 'rimage', image: bset.image1 %}
              </div>
              <div class="contetn_wrapper block-2 block-text">
                <div class="content_block">
                  {% if bset.title1 != blank %}
                    <div class="title display-2">{{ bset.title1 }}</div>
                  {% endif %}
                  {% if bset.text1 != blank %}
                    <div class="text">{{ bset.text1 }}</div>
                  {% endif %}
                  {% if bset.btn_link1 != blank and bset.btn_label1 != blank %}
                    <div class="btn_wrapper">
                      <a href="{{ bset.btn_link1 }}" class="btn {{ bset.btn_style1 }}">{{ bset.btn_label1 }}</a>
                    </div>
                  {% endif %}
                </div>
                <div class="content_block">
                  {% if bset.title2 != blank %}
                    <div class="title display-2">{{ bset.title2 }}</div>
                  {% endif %}
                  {% if bset.text2 != blank %}
                    <div class="text">{{ bset.text2 }}</div>
                  {% endif %}
                  {% if bset.btn_link2 != blank and bset.btn_label2 != blank %}
                    <div class="btn_wrapper">
                      <a href="{{ bset.btn_link2 }}" class="btn {{ bset.btn_style2 }}">{{ bset.btn_label2 }}</a>
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="image_wrapper tb__image block-3 block-image">
                {% render 'rimage', image: bset.image2 %}
              </div>
            </div>

            <div class="image-text-grid-item layout-single hide--desktop">
              <div class="image_wrapper tb__image">
                {% render 'rimage', image: bset.image1 %}
              </div>
              <div class="content_wrapper">
                <div>
                  {% if bset.title1 != blank %}
                    <div class="title display-2">{{ bset.title1 }}</div>
                  {% endif %}
                  {% if bset.text1 != blank %}
                    <div class="text">{{ bset.text1 }}</div>
                  {% endif %}
                  {% if bset.btn_link1 != blank and bset.btn_label1 != blank %}
                    <div class="btn_wrapper">
                      <a href="{{ bset.btn_link1 }}" class="btn {{ bset.btn_style1 }}">{{ bset.btn_label1 }}</a>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>

            <div class="image-text-grid-item layout-single hide--desktop">
              <div class="image_wrapper tb__image">
                {% render 'rimage', image: bset.image2 %}
              </div>
              <div class="content_wrapper">
                <div>
                  {% if bset.title2 != blank %}
                    <div class="title display-2">{{ bset.title2 }}</div>
                  {% endif %}
                  {% if bset.text2 != blank %}
                    <div class="text">{{ bset.text2 }}</div>
                  {% endif %}
                  {% if bset.btn_link2 != blank and bset.btn_label2 != blank %}
                    <div class="btn_wrapper">
                      <a href="{{ bset.btn_link2 }}" class="btn {{ bset.btn_style2 }}">{{ bset.btn_label2 }}</a>
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>

          {% endif %}


        {% endfor %}

      </div>

    {% endif %}

    {% if section.settings.btn_link != blank and section.settings.btn_label != blank %}
      <div class="section_footer text-center">
        <a class="btn btn-outline-secondary" href="{{ section.settings.btn_link }}">{{ section.settings.btn_label }}</a>
      </div>
    {% endif %}

  </div>

</div>

{% schema %}
{
  "name": "Image text grid",
  "class": "image-text-grid",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "text",
      "id": "btn_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "btn_link",
      "label": "Button link"
    }
  ],
  "blocks": [
    {
      "type": "block",
      "name": "Block",
      "settings": [
        {
          "type": "header",
          "content": "Block 1"
        },
        {
          "type": "image_picker",
          "id": "image1",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title1",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text1",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "btn_label1",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "btn_link1",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "btn_style1",
          "label": "Button style",
          "options": [
            {
              "value": "btn-outline-white",
              "label": "White Outline"
            },
            {
              "value": "btn-white",
              "label": "White Solid"
            },
            {
              "value": "btn-primary",
              "label": "Primary Solid"
            },
            {
              "value": "btn-secondary",
              "label": "Secondary Solid"
            },
            {
              "value": "btn-outline-secondary",
              "label": "Secondary Outline"
            }
          ],
          "default": "btn-outline-white"
        },
        {
          "type": "header",
          "content": "Block 2"
        },
        {
          "type": "image_picker",
          "id": "image2",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title2",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text2",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "btn_label2",
          "label": "Button Label"
        },
        {
          "type": "url",
          "id": "btn_link2",
          "label": "Button Link"
        },
        {
          "type": "select",
          "id": "btn_style2",
          "label": "Button style",
          "options": [
            {
              "value": "btn-outline-white",
              "label": "White Outline"
            },
            {
              "value": "btn-white",
              "label": "White Solid"
            },
            {
              "value": "btn-primary",
              "label": "Primary Solid"
            },
            {
              "value": "btn-secondary",
              "label": "Secondary Solid"
            },
            {
              "value": "btn-outline-secondary",
              "label": "Secondary Outline"
            }
          ],
          "default": "btn-outline-white"
        },
        {
          "type": "paragraph",
          "content": "Below settings will be enabled when you use only one block"
        },
        {
          "type": "header",
          "content": "Alignment"
        },
        {
          "type": "select",
          "id": "image_pos",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ],
          "default": "left",
          "label": "Image position"
        },
        {
          "type": "select",
          "id": "content_pos",
          "options": [
            {
              "label": "Top",
              "value": "top"
            },
            {
              "label": "Middle",
              "value": "middle"
            },
            {
              "label": "Bottom",
              "value": "bottom"
            }
          ],
          "default": "top",
          "label": "Content position"
        }
      ]
    }
  ]
}
{% endschema %}