{%- assign s = section.settings -%}
{%- for block in section.blocks -%}
{%- assign b = block.settings -%}
{%- if b.image-position == 'left' -%}
{%- assign position = 'l' -%}
{%- else -%}
{%- assign position = 'r' -%}
{%- endif -%}
<section class="{% if b.class != blank %}{{ b.class }}{% else %}mb-5 mb-lg-8 mb-xl-12 mb-xxl-14{% endif %}">
  <div class="container">
    <div class="row row-gut-lg-0">
      <div class="col-lg-6 align-items-{{ b.text-align }} order-lg-2 p{{ position }}-lg-6 p{{ position }}-xl-10 p{{ position }}-xxl-13 lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
        {{ b.text }}
      </div>
      <div class="col-lg-6 align-items-{{ b.image-align }} {% if b.image-position == 'right' %}order-lg-3{% else %}order-lg-1{% endif %} lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
        <div class="tb__image">
          <figure class="tb__image__placeholder" style="padding-top: calc({{ b.image.height }} / {{ b.image.width }} * 100%)">
            <picture>
              {% if b.image-mobile != blank %}
              <source data-srcset="{{ b.image-mobile | img_url: '750x' }}" media="(max-width: 575px)" />
              <source data-srcset="{{ b.image | img_url: '750x' }}" media="(min-width: 576px)" />
              {%- endif -%}
              <img
                class="lazyload"
                src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
                data-src="{{ b.image | img_url: '750x' }}"
                alt=""
              />
            </picture>
          </figure>
        </div>
      </div>
    </div>
  </div>
</section>
{%- endfor -%}

{% schema %}
{
    "name":"Vores historie",
    "settings":[
        
    ],
    "blocks":[
        {
            "type":"section",
            "name":"Section",
            "settings":[
                {
                    "type":"html",
                    "id":"text",
                    "label":"Text"
                },
                {
                    "type":"select",
                    "id":"text-align",
                     "options": [
                          { "value": "start", "label": "Top"},
                          { "value": "center", "label": "Center"},
                          { "value": "end", "label": "Bottom"}
					],
					"default": "center",
                    "label":"Text align"
				},
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "image_picker",
                    "id": "image-mobile",
                    "label": "Image (mobile)"
                },
                {
                    "type":"select",
                    "id":"image-position",
                     "options": [
                          { "value": "left", "label": "Left"},
                          { "value": "right", "label": "Right"}
					],
					"default": "left",
                    "label":"Image position"
				},
                {
                    "type":"select",
                    "id":"image-align",
                     "options": [
                          { "value": "start", "label": "Top"},
                          { "value": "center", "label": "Center"},
                          { "value": "end", "label": "Bottom"}
					],
					"default": "center",
                    "label":"Image align"
				},
                {
                    "type":"text",
                    "id":"class",
                    "label":"Custom class(es)"
                }
            ]
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
