{%- comment -%}
TEMPORARY template load schema
{%- endcomment -%}

<div class="scratcher-container-indent">
  <div class="scratcher_container" style="
    margin-top: -2.5rem!important;" >
    {{ page.content }}
  </div>
</div>

{% schema %}
  {
    "name": "Scratcher",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
