{%- assign s = section.settings -%}
{%- for block in section.blocks -%}
{%- assign b = block.settings -%}
{% if block.type == 'section' %}
<div class="container">
  {%- if b.image-position == 'left' -%}
  {%- assign position = 'l' -%}
  {%- else -%}
  {%- assign position = 'r' -%}
  {%- endif -%}
  <section class="{% if b.class != blank %}{{ b.class }}{% else %}mb-5 mb-lg-8 mb-xl-12 mb-xxl-14{% endif %}">
    <div class="row row-gut-lg-0">
      <div class="col-lg-6 align-items-{{ b.text-align }} order-lg-2 p{{ position }}-lg-6 p{{ position }}-xl-10 p{{ position }}-xxl-13 lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
        {{ b.text }}
      </div>
      <div class="col-lg-6 align-items-{{ b.image-align }} {% if b.image-position == 'right' %}order-lg-3{% else %}order-lg-1{% endif %} lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
        <div class="tb__image">
          <figure class="tb__image__placeholder" style="padding-top: calc({{ b.image.height }} / {{ b.image.width }} * 100%)">
            <picture>
              {% if b.image-mobile != blank %}
              <source data-srcset="{{ b.image-mobile | img_url: '750x' }}" media="(max-width: 575px)" />
              <source data-srcset="{{ b.image | img_url: '750x' }}" media="(min-width: 576px)" />
              {%- endif -%}
              <img
                   class="lazyload"
                   src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
                   data-src="{{ b.image | img_url: '750x' }}"
                   alt=""
                   />
            </picture>
          </figure>
        </div>
      </div>
    </div>
  </section>
</div>
{% endif %}
{% if block.type == 'hero' %}
<div class="hero hero--main mt-n5">
  <div class="tb__banner{% if b.image-animation %} lazyload appear-opacity appear-slide-in-bottom{% endif %}"{% if b.image-animation %} data-expand="-100"{% endif %}>
    <div class="tb__banner__text tb__banner__text--static justify-content-center px-3 px-md-6 px-lg-8 py-3 py-md-4">
      <div class="container text-center">
        {% if b.title != blank %}
        <h1 class="display-1 mb-0 text-uppercase text-white">{{ b.title }}</h1>
        {%- endif -%}
        {% if b.description != blank %}
        <div class="display-3 mb-4 mb-md-5 text-white">{{ b.description }}</div>
        {%- endif -%}
        {% if b.cta-url != blank %}
        <div class="d-flex flex-wrap justify-content-center mx-n2 mt-n2">
          <a class="btn {{ b.cta-style }} w-150p mx-2 mt-2" href="{{ b.cta-url }}">{{ b.cta-text }}</a>
          {% if b.cta-url-2 != blank %}
          <a class="btn {{ b.cta-style-2 }} w-150p mx-2 mt-2" href="{{ b.cta-url-2 }}">{{ b.cta-text-2 }}</a>
          {%- endif -%}
        </div>
        {%- endif -%}
      </div>
    </div>
    <div class="tb__banner__overlay bg-secondary o-{{ b.overlay-opacity }} active"></div>
    {% if b.video == blank and b.video-mobile == blank %}
    <div class="tb__banner__image tb__image tb__image--16-9">
      <figure class="tb__image__placeholder">
        <picture>
          {% if b.image-mobile != blank %}
          <source data-srcset="{{ b.image-mobile | img_url: '575x' }}" media="(max-width: 575px)" />
          {%- endif -%}
          <source data-srcset="{{ b.image | img_url: '2000x' }}" media="(min-width: 576px)" />
          <img
               class="lazyload{% if b.image-animation %} no-animation{% endif %}"
               src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
               data-src="{{ b.image | img_url: '2000x' }}"
               alt="{{ b.title }}"
               />
        </picture>
      </figure>
    </div>
    {% endif %}
    {% if b.video != blank %}
    <div class="tb__banner__image tb__image align-items-center">
      <div class="tb__image__content top-auto d-none d-sm-flex justify-content-center" style="padding-top: calc((9 / 16) * 100%);">
        <iframe class="left-auto lazyload" data-src="https://onelineplayer.com/player.html?autoplay=true&autopause=false&muted=true&loop=true&url={{ b.video | url_encode }}&playsinline=1&poster=&time=false&progressBar=false&overlay=false&muteButton=false&fullscreenButton=false&style=light&quality=auto&playButton=false&buttonColor=%23FFFFFF&buttonSize=90&overlayColor=%23000000&overlayOpacity=0.3" frameborder="0" allowfullscreen scrolling="no" allow="autoplay;fullscreen"></iframe>
      </div>
      {% if b.video-mobile != blank %}
      <div class="tb__image__content d-flex d-sm-none justify-content-center" style="padding-top: calc((16 / 9) * 100%);">
        <iframe class="lazyload" data-src="https://onelineplayer.com/player.html?autoplay=true&autopause=false&muted=true&loop=true&url={{ b.video-mobile | url_encode }}&playsinline=1&poster=&time=false&progressBar=false&overlay=false&muteButton=false&fullscreenButton=false&style=light&quality=auto&playButton=false&buttonColor=%23FFFFFF&buttonSize=90&overlayColor=%23000000&overlayOpacity=0.3" frameborder="0" allowfullscreen="" scrolling="no" allow="autoplay;fullscreen"></iframe>
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
{% if block.type == 'text-product' %}
<div class="container">
  {%- if b.image-position == 'left' -%}
  {%- assign position = 'l' -%}
  {%- else -%}
  {%- assign position = 'r' -%}
  {%- endif -%}
  <section class="{% if b.class != blank %}{{ b.class }}{% else %}mb-5 mb-lg-8 mb-xl-12 mb-xxl-14{% endif %}">
    <div class="row row-gut-lg-0">
      <div class="col-lg-6 order-lg-2 align-items-center p{{ position }}-lg-6 p{{ position }}-xl-10 p{{ position }}-xxl-13 lazyload appear-opacity appear-slide-in-bottom text-center" data-expand="-50">
        <div class="mx-auto" style="flex: 0 1 auto; width: {{ b.product-width }}px; max-width: 100%;">
          {% assign product = all_products[b.product] %}
          {%- render 'product-item', product: product -%}
        </div>
      </div>
      <div class="col-lg-6 align-items-{{ b.image-align }} {% if b.image-position == 'right' %}order-lg-3{% else %}order-lg-1{% endif %} lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
        <div class="tb__image">
          <figure class="tb__image__placeholder" style="padding-top: calc({{ b.image.height }} / {{ b.image.width }} * 100%)">
            <picture>
              {% if b.image-mobile != blank %}
              <source data-srcset="{{ b.image-mobile | img_url: '750x' }}" media="(max-width: 575px)" />
              <source data-srcset="{{ b.image | img_url: '750x' }}" media="(min-width: 576px)" />
              {%- endif -%}
              <img
                   class="lazyload"
                   src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
                   data-src="{{ b.image | img_url: '750x' }}"
                   alt=""
                   />
            </picture>
          </figure>
        </div>
      </div>
    </div>
  </section>
</div>
{% endif %}
{% if block.type == 'featured-products' %}
{% assign products = b.products | newline_to_br | strip_newlines | split: '<br />' %}
<div class="container featured-products my-5 my-md-7 my-lg-9 my-xl-10 overflow-x-hidden">
  <div class="d-flex justify-content-{{ b.products-align }} px-up-md-0">
    <div class="position-relative" style="flex: 0 0 auto; width: {% if b.disable-carousel %}{{ b.products-width }}px{% else %}100%{% endif %}; max-width: 100%;">
      {% if b.title %}
      <h2 class="mb-3 mb-lg-4{% if b.products-align == 'center' %} text-center{% endif %}">{{ b.title }}</h2>
      {% endif %}
      {% if b.disable-carousel %}
      <div class="row row-gut-2">
        {%- for product-handle in products -%}
        <div class="col">
          {% assign product = all_products[product-handle] %}
          {%- render 'product-item', product: product -%}
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="carousel carousel--4 mx-up-md-n5">
        <div
          class="swiper-container show row row-gut-2"
          data-toggle="carousel"
          data-breakpointsBase="container"
          data-centered-slides="true"
          data-space-between="1"
          data-slides-per-view="2"
          data-breakpoints="{
            768: {
              slidesPerView: 3,
              spaceBetween: 20,
              centeredSlides: false
            },
            1200: {
              slidesPerView: 4,
              spaceBetween: 20,
              centeredSlides: false
            }
          }"
          data-pagination="false"
          data-nav-container-class="swiper-nav d-none d-md-flex"
        >
          {%- for product-handle in products -%}
          <div class="col">
            {% assign product = all_products[product-handle] %}
            {%- render 'product-item', product: product -%}
          </div>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
{%- endfor -%}

{% schema %}
{
  "name":"Project Røde Kors",
  "settings":[],
  "blocks":[
      {
          "type":"section",
          "name":"Text and image",
          "settings":[
              {
                  "type":"html",
                  "id":"text",
                  "label":"Text"
              },
              {
                  "type":"select",
                  "id":"text-align",
                  "options": [
                      { "value": "start", "label": "Top"},
                      { "value": "center", "label": "Center"},
                      { "value": "end", "label": "Bottom"}
                  ],
                  "default": "center",
                  "label":"Text align"
              },
              {
                  "type": "image_picker",
                  "id": "image",
                  "label": "Image"
              },
              {
                  "type": "image_picker",
                  "id": "image-mobile",
                  "label": "Image (mobile)"
              },
              {
                  "type":"select",
                  "id":"image-position",
                  "options": [
                      { "value": "left", "label": "Left"},
                      { "value": "right", "label": "Right"}
                  ],
                  "default": "left",
                  "label":"Image position"
              },
              {
                  "type":"select",
                  "id":"image-align",
                   "options": [
                       { "value": "start", "label": "Top"},
                       { "value": "center", "label": "Center"},
                       { "value": "end", "label": "Bottom"}
                  ],
                  "default": "center",
                  "label":"Image align"
              },
              {
                  "type":"text",
                  "id":"class",
                  "label":"Custom class(es)"
              }
          ]
      },
      {
          "type":"hero",
          "name":"Hero",
          "settings": [
              {
                  "type": "text",
                  "id": "title",
                  "label": "Title",
                  "info": "This is a <h1>-tag"
              },
              {
                  "type": "richtext",
                  "id": "description",
                  "label": "Description"
              },
              {
                  "type": "header",
                  "content": "Desktop content"
              },
              {
                  "type": "image_picker",
                  "id": "image",
                  "label": "Image"
              },
              {
                  "type": "video_url",
                  "id": "video",
                  "label": "Video",
                  "info": "If video link is present, the image won't load",
                  "accept": ["vimeo"]
              },
              {
                "type": "checkbox",
                "id":"image-animation",
                "default": true,
                "label": "Image animation"
              },
              {
                  "type": "header",
                  "content": "Mobile content"
              },
              {
                  "type": "image_picker",
                  "id": "image-mobile",
                  "label": "Image"
              },
              {
                  "type": "video_url",
                  "id": "video-mobile",
                  "label": "Video",
                  "info": "If video link is present, the image won't load",
                  "accept": ["vimeo"]
              },
              {
                  "type": "header",
                  "content": "Image overlay"
              },
              {
                  "type": "range",
                  "id": "overlay-opacity",
                  "label": "Opacity",
                  "min": 0,
                  "max": 100,
                  "step": 10,
                  "default": 20
              },
              {
                  "type": "header",
                  "content": "Call-To-Action"
              },
              {
                  "type": "text",
                  "id": "cta-text",
                  "label": "Text for button",
                  "info": "Leave this blank if you do not want a cta-button"
              },
              {
                  "type": "url",
                  "id": "cta-url",
                  "label": "Link for button"
              },
              {
                  "type": "select",
                  "id": "cta-style",
                  "label": "Style",
                  "options": [
                      {
                        "value": "btn-outline-white",
                        "label": "White Outline"
                      },
                      {
                        "value": "btn-white",
                        "label": "White Solid"
                      },
                      {
                        "value": "btn-primary",
                        "label": "Primary Solid"
                      }
                  ],
                  "default": "btn-outline-white"
              },
              {
                  "type": "header",
                  "content": "Extra Call-To-Action"
              },
              {
                  "type": "text",
                  "id": "cta-text-2",
                  "label": "Text for button"
              },
              {
                  "type": "url",
                  "id": "cta-url-2",
                  "label": "Link for button"
              },
              {
                  "type": "select",
                  "id": "cta-style-2",
                  "label": "Style",
                  "options": [
                      {
                        "value": "btn-outline-white",
                        "label": "White Outline"
                      },
                      {
                        "value": "btn-white",
                        "label": "White Solid"
                      },
                      {
                        "value": "btn-primary",
                        "label": "Primary Solid"
                      }
                  ],
                  "default": "btn-outline-white"
              }
          ]
      },
      {
          "type":"text-product",
          "name":"Text and product",
          "settings":[
              {
                  "type":"text",
                  "id":"product",
                  "label":"Product",
                  "info": "Use product handles here"
              },
              {
                  "type":"range",
                  "id":"product-width",
                  "label":"Max product width (px)",
				  "min": 200,
				  "max": 700,
				  "step": 10,
				  "default": 400
              },
              {
                  "type": "image_picker",
                  "id": "image",
                  "label": "Image"
              },
              {
                  "type": "image_picker",
                  "id": "image-mobile",
                  "label": "Image (mobile)"
              },
              {
                  "type":"select",
                  "id":"image-position",
                  "options": [
                      { "value": "left", "label": "Left"},
                      { "value": "right", "label": "Right"}
                  ],
                  "default": "left",
                  "label":"Image position"
              },
              {
                  "type":"select",
                  "id":"image-align",
                   "options": [
                       { "value": "start", "label": "Top"},
                       { "value": "center", "label": "Center"},
                       { "value": "end", "label": "Bottom"}
                  ],
                  "default": "center",
                  "label":"Image align"
              },
              {
                  "type":"text",
                  "id":"class",
                  "label":"Custom class(es)"
              }
          ]
      },
      {
          "type":"featured-products",
          "name":"Featured Products",
          "settings": [
              {
                  "type": "text",
                  "id": "title",
                  "label": "Title"
              },
              {
                  "type":"html",
                  "id":"products",
                  "label": "Products",
                  "info": "Use product handles separated by a new line"
              },
              {
                  "type": "checkbox",
                  "id": "disable-carousel",
                  "label": "Disable carousel",
                  "default": false
              },
              {
                  "type":"range",
                  "id":"products-width",
                  "label":"Product container width (px)",
				  "min": 300,
				  "max": 1480,
				  "step": 20,
				  "default": 1480
              },
              {
                  "type":"select",
                  "id":"products-align",
                   "options": [
                       { "value": "start", "label": "Start"},
                       { "value": "center", "label": "Center"},
                       { "value": "end", "label": "End"}
                  ],
                  "default": "center",
                  "label":"Products align"
              }
          ]
      }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}