<div class="container">
    {%- assign s = section.settings -%}
    {%- for block in section.blocks -%}
    {%- assign b = block.settings -%}
    {% if block.type == 'section' %}
    {%- if b.image-position == 'left' -%}
    {%- assign position = 'l' -%}
    {%- else -%}
    {%- assign position = 'r' -%}
    {%- endif -%}
    <section class="{% if b.class != blank %}{{ b.class }}{% else %}mb-5 mb-lg-8 mb-xl-12 mb-xxl-14{% endif %}">
      <div class="row row-gut-lg-0">
        <div class="col-lg-6 align-items-{{ b.text-align }} order-lg-2 p{{ position }}-lg-6 p{{ position }}-xl-10 p{{ position }}-xxl-13 lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
          {{ b.text }}
        </div>
        <div class="col-lg-6 align-items-{{ b.image-align }} {% if b.image-position == 'right' %}order-lg-3{% else %}order-lg-1{% endif %} lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
          <div class="tb__image">
            <figure class="tb__image__placeholder" style="padding-top: calc({{ b.image.height }} / {{ b.image.width }} * 100%)">
              <picture>
                {% if b.image-mobile != blank %}
                <source data-srcset="{{ b.image-mobile | img_url: '750x' }}" media="(max-width: 575px)" />
                <source data-srcset="{{ b.image | img_url: '750x' }}" media="(min-width: 576px)" />
                {%- endif -%}
                <img
                     class="lazyload"
                     src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
                     data-src="{{ b.image | img_url: '750x' }}"
                     alt=""
                     />
              </picture>
            </figure>
          </div>
        </div>
      </div>
    </section>
    {% endif %}
    {% if block.type == 'icons' %}
    <section class="{% if b.class != blank %}{{ b.class }}{% else %}mb-5 mb-lg-8 mb-xl-12 mb-xxl-14{% endif %} lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
      {%- if b.title != blank -%}
      <h4 class="mb-4 mb-lg-6 mb-xl-8 text-center font-weight-600">{{ b.title }}</h4>
      {%- endif -%}
      <div class="row justify-content-center">
        {%- assign iconsArray = "1,2,3,4" | split: ',' -%}
        {%- for i in iconsArray -%}
        {%- assign iconKey = 'icon-' | append:i %}
        {%- assign iconTextKey = 'icon-' | append:i | append:'-text' %}
        {%- assign icon = b[iconKey] -%}
        {%- assign text = b[iconTextKey] -%}
        <div class="col-lg-2 justify-content-center text-center">
          <div class="d-flex align-items-center justify-content-center mb-3" style="height: 75px;">
          	{{ icon }}
          </div>
          <h5 class="text-uppercase">{{ text }}</h5>
        </div>
        {%- endfor -%}
      </div>
    </section>
    {% endif %}
    {% if block.type == 'section-2col' %}
    <section class="{% if b.class != blank %}{{ b.class }}{% else %}mb-5 mb-lg-8 mb-xl-12 mb-xxl-14{% endif %}">
      <div class="row row-gut-lg-0">
        <div class="col-lg-6 d-block lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
          {%- if b.col-1-text-above != blank -%}
          <div class="text-block pr-lg-6 pr-xl-10 pr-xxl-12{% if b.col-1-image != blank or b.col-1-text-below != blank %} mb-5 mb-lg-7 mb-xl-10 mb-xxl-12{% endif %}">
          {{ b.col-1-text-above }}
          </div>
          {%- endif -%}
          {%- if b.col-1-image != blank -%}
          <div class="tb__image{% if b.col-1-text-below != blank %} mb-5 mb-lg-7 mb-xl-10 mb-xxl-12{% endif %}">
            <figure class="tb__image__placeholder" style="padding-top: calc({{ b.col-1-image.height }} / {{ b.col-1-image.width }} * 100%)">
              <picture>
                {% if b.col-1-image-mobile != blank %}
                <source data-srcset="{{ b.col-1-image-mobile | img_url: '750x' }}" media="(max-width: 575px)" />
                <source data-srcset="{{ b.col-1-image | img_url: '750x' }}" media="(min-width: 576px)" />
                {%- endif -%}
                <img
                     class="lazyload"
                     src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
                     data-src="{{ b.col-1-image | img_url: '750x' }}"
                     alt=""
                     />
              </picture>
            </figure>
          </div>
          {%- endif -%}
          {%- if b.col-1-text-below != blank -%}
          <div class="text-block">
          {{ b.col-1-text-below }}
          </div>
          {%- endif -%}
        </div>
        <div class="col-lg-6 d-block pl-lg-6 pl-xl-10 pl-xxl-13 lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
          {%- if b.col-2-text-above != blank -%}
          <div class="text-block">
          {{ b.col-2-text-above }}
          </div>
          {%- endif -%}
          {%- if b.col-2-image != blank -%}
          <div class="tb__image">
            <figure class="tb__image__placeholder" style="padding-top: calc({{ b.col-2-image.height }} / {{ b.col-2-image.width }} * 100%)">
              <picture>
                {% if b.col-2-image-mobile != blank %}
                <source data-srcset="{{ b.col-2-image-mobile | img_url: '750x' }}" media="(max-width: 575px)" />
                <source data-srcset="{{ b.col-2-image | img_url: '750x' }}" media="(min-width: 576px)" />
                {%- endif -%}
                <img
                     class="lazyload"
                     src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
                     data-src="{{ b.col-2-image | img_url: '750x' }}"
                     alt=""
                     />
              </picture>
            </figure>
          </div>
          {%- endif -%}
          {%- if b.col-2-text-below != blank -%}
          <div class="text-block">
          {{ b.col-2-text-below }}
          </div>
          {%- endif -%}
        </div>
      </div>
    </section>
    {% endif %}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
    "name":"Bæredygtighed",
    "settings":[
        
    ],
    "blocks":[
        {
            "type":"section",
            "name":"Text and image",
            "settings":[
                {
                    "type":"html",
                    "id":"text",
                    "label":"Text"
                },
                {
                    "type":"select",
                    "id":"text-align",
                     "options": [
                          { "value": "start", "label": "Top"},
                          { "value": "center", "label": "Center"},
                          { "value": "end", "label": "Bottom"}
					],
					"default": "center",
                    "label":"Text align"
				},
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "image_picker",
                    "id": "image-mobile",
                    "label": "Image (mobile)"
                },
                {
                    "type":"select",
                    "id":"image-position",
                     "options": [
                          { "value": "left", "label": "Left"},
                          { "value": "right", "label": "Right"}
					],
					"default": "left",
                    "label":"Image position"
				},
                {
                    "type":"select",
                    "id":"image-align",
                     "options": [
                          { "value": "start", "label": "Top"},
                          { "value": "center", "label": "Center"},
                          { "value": "end", "label": "Bottom"}
					],
					"default": "center",
                    "label":"Image align"
				},
                {
                    "type":"text",
                    "id":"class",
                    "label":"Custom class(es)"
                }
            ]
        },
        {
            "type":"section-2col",
            "name":"Text and image (2 cols)",
            "settings":[
                {
                    "type":"header",
                    "content":"Column 1"
                },
                {
                    "type":"html",
                    "id":"col-1-text-above",
                    "label":"Text above"
                },
                {
                    "type":"html",
                    "id":"col-1-text-below",
                    "label":"Text below"
                },
                {
                    "type": "image_picker",
                    "id": "col-1-image",
                    "label": "Image"
                },
                {
                    "type": "image_picker",
                    "id": "col-1-image-mobile",
                    "label": "Image (mobile)"
                },
                {
                    "type":"header",
                    "content":"Column 2"
                },
                {
                    "type":"html",
                    "id":"col-2-text-above",
                    "label":"Text above"
                },
                {
                    "type":"html",
                    "id":"col-2-text-below",
                    "label":"Text below"
                },
                {
                    "type": "image_picker",
                    "id": "col-2-image",
                    "label": "Image"
                },
                {
                    "type": "image_picker",
                    "id": "col-2-image-mobile",
                    "label": "Image (mobile)"
                },
                {
                    "type":"header",
                    "content":"Custom"
                },
                {
                    "type":"text",
                    "id":"class",
                    "label":"Custom class(es)"
                }
            ]
        },
        {
            "type":"icons",
            "name":"Icons",
            "settings":[
                {
                    "type":"text",
                    "id":"title",
                    "label":"Title"
                },
                {
                    "type":"html",
                    "id":"icon-1",
                    "label":"Icon 1 code (html)"
                },
                {
                    "type":"html",
                    "id":"icon-2",
                    "label":"Icon 2 code (html)"
                },
                {
                    "type":"html",
                    "id":"icon-3",
                    "label":"Icon 3 code (html)"
                },
                {
                    "type":"html",
                    "id":"icon-4",
                    "label":"Icon 4 code (html)"
                },
                {
                    "type":"text",
                    "id":"icon-1-text",
                    "label":"Icon 1 text"
                },
                {
                    "type":"text",
                    "id":"icon-2-text",
                    "label":"Icon 2 text"
                },
                {
                    "type":"text",
                    "id":"icon-3-text",
                    "label":"Icon 3 text"
                },
                {
                    "type":"text",
                    "id":"icon-4-text",
                    "label":"Icon 4 text"
                },
                {
                    "type":"text",
                    "id":"class",
                    "label":"Custom class(es)"
                }
            ]
        }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
