{%- assign s = section.settings -%}
<section class="page--sizeguide mb-5 mb-md-7 mb-lg-9 mb-xl-10">
  <div class="container">
    <h1 class="mb-4 mb-lg-6 text-center text-uppercase">{{ page.title }}</h1>
    <div class="row justify-content-around">
      {%- for block in section.blocks -%}
      {%- assign b = block.settings -%}
      <div class="col-md-6 col-xl-5 col-xxl-4">
        <div id="sizeguide_{{ b.collection | handleize }}">
          {% if b.svg-image != blank %}
          <div class="mx-auto mb-4 mb-md-5 mb-lg-6 text-center">
          {{ b.svg-image }}
          </div>
          {% else %}
          <div class="tb__image mx-auto">
            <figure class="tb__image__placeholder" style="padding-top: calc({{ b.image.height }} / {{ b.image.width }} * 100%)">
              <picture>
                <img
                  class="lazyload"
                  src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
                  data-src="{{ b.image | asset_img_url }}"
                  alt=""
                />
              </picture>
            </figure>
          </div>
          {% endif %}
          <h2 class="h6 text-uppercase font-weight-600">{{ b.title }}</h2>
          <div class="{% if b.table-mobile != blank %}d-none {% endif %}d-md-block">
            <table class="table table-nopadding">
              {% assign rows = b.table | newline_to_br | split: '<br />' %}
              {% assign thead = rows[0] | split: '|' %}
              {% for tbody in rows offset:1 %}
              {% assign localization_link_array = localization_link_row | split: '|' %}
              {% assign localization_link_title = localization_link_array[0] %}
              {% assign localization_link_url   = localization_link_array[1] %}
              {% endfor %}
              <thead>
                <tr>
                  {% for th in thead %}
                  <th class="pt-0 font-weight-400 border-top-0">{{ th | replace: '~', '' }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for tbody in rows offset:1 %}
                {% assign row = tbody | split: '|' %}
                <tr>
                  {% for td in row %}
                  <td>{{ td | replace: '~', '' }}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% if b.table-mobile != blank %}
          <div class="d-md-none">
            <table class="table table-nopadding">
              {% assign rows = b.table-mobile | newline_to_br | split: '<br />' %}
              {% assign thead = rows[0] | split: '|' %}
              {% for tbody in rows offset:1 %}
              {% assign localization_link_array = localization_link_row | split: '|' %}
              {% assign localization_link_title = localization_link_array[0] %}
              {% assign localization_link_url   = localization_link_array[1] %}
              {% endfor %}
              <thead>
                <tr>
                  {% for th in thead %}
                  <th class="pt-0 text-center font-weight-400 border-top-0">{{ th | replace: '~', '' }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for tbody in rows offset:1 %}
                {% assign row = tbody | split: '|' %}
                <tr>
                  {% for td in row %}
                  <td{% if forloop.first == false %} class="text-center"{% endif %}>{{ td | replace: '~', '' }}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Sizeguide",
  "settings": [],
  "blocks":[
    {
      "type":"product-type",
      "name":"Product type",
      "settings":[
        {
          "type":"text",
          "id":"title",
          "label":"Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type":"textarea",
          "id":"svg-image",
          "label":"SVG image",
		  "info": "Replaces a raster image if provided."
        },
        {
          "type":"textarea",
          "id":"table",
          "label":"Size table",
		  "info": "Separate values with a | (pipe). Separate rows with a new line. Mark empty cells with ~ (tilde)."
        },
		{
          "type":"textarea",
          "id":"table-mobile",
          "label":"Size table (mobile)"
        },
        {
           "type": "collection",
           "id": "collection",
           "label": "Eligible for",
           "info": "This sizeguide will show for selected collections"
        }
	  ]
	}
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
