{{ section.settings.tp-widget }}

<style>
.trustpilot-widget-product iframe {
  {% if section.settings.tp-widget-width != blank %}
  width: {{ section.settings.tp-widget-width }}px !important;
  {% else %}
  width: 240px !important;
  {% endif %}
  margin-right: auto;
  margin-left: auto;
}
@media(min-width: 768px) {
  .trustpilot-widget-product iframe {
    margin-left: 0;
  }
}
</style>

{% schema %}
{
  "name": "Product rating",
  "class": "product-rating mb-4 mb-lg-5",
  "settings": [
    {
      "type": "html",
      "id": "tp-widget",
      "label": "Trustpilot"
    },
    {
      "type": "number",
      "id": "tp-widget-width",
      "label": "Widget width"
    }
  ]
}
{% endschema %}
