{%- for block in section.blocks -%}
  {%- assign klarna = block.settings -%}
  {% if klarna.locale == blank or klarna.locale == shop.locale %}
    {{ klarna.code }}
  {% endif %}
{% endfor %}

{% schema %}
{
  "name": "Product Klarna",
  "class": "product-klarna order-2 order-md-0 mx-auto ml-md-0 mt-n3 mb-4",
  "blocks": [
    {
      "type": "klarna_code",
      "name": "Klarna Code",
      "settings": [
        {
          "type": "text",
          "id": "locale",
          "label": "Locale"
        },
        {
          "type": "html",
          "id": "code",
          "label": "Code"
        }
      ]
    }
  ]
}
{% endschema %}
