<nav class="mb-3 mb-lg-4">
  <ul class="nav nav-tabs justify-content-between justify-content-sm-start text-uppercase font-12 font-sm-14">
    <li class="nav-item">
      <a class="nav-link active" href="javascript:;" data-toggle="tab" data-target="#product-description">
        <span>{{ 'product.tabs.description' | t }}</span>
      </a>
    </li>
    {% for block in section.blocks %}
    {% assign b = block.settings %}
    <li class="nav-item">
      <a class="nav-link" href="javascript:;" data-toggle="tab" data-target="#product-{{ b.title | handleize }}">
        <span>{{ b.title }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>
<div class="tab-content">
  <div id="product-description" class="tab-pane text-block fade show active">
    {{ product.description }}
  </div>
  {% for block in section.blocks %}
  {% assign b = block.settings %}
  <div id="product-{{ b.title | handleize }}" class="tab-pane text-block fade">
    {{ b.text }}
  </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Product description",
  "class": "product-information mb-4 mb-md-0",
  "settings": [],
  "blocks": [
    {
      "name": "Description",
      "type": "description",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
	  ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
