{% assign same_type = false %}
{% assign exclusions = 'frontpage,all' | split: ',' %}
{% if product.metafields.c_f['Related Products'] %}
{% assign collection = collections[product.metafields.c_f['Related Products']] %}
{% endif %}
{% assign found_a_collection = false %}
{% if collection and collection.all_products_count > 1 %}
{% unless exclusions contains collection.handle %}
{% assign found_a_collection = true %}
{% endunless %}
{% endif %}
{% unless found_a_collection %}
{% for c in product.collections %}
{% unless exclusions contains c.handle or c.all_products_count < 2 %}
{% assign found_a_collection = true %}
{% assign collection = c %}
{% break %}
{% endunless %}
{% endfor %}
{% endunless %}

{% if found_a_collection %}
{% assign counter = 0 %}
{% assign current_product = product %}

{% capture related_items %}
{% for product in collection.products %}
{% unless product.handle == current_product.handle %}
{% unless same_type and current_product.type != product.type %}
<div class="col-6 col-md-3 lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
  {%- render 'product-item', product: product, show_product_info: true, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true -%}
  {% assign counter = counter | plus: 1 %}
  {% if counter == 4 %}
  {% break %}
  {% endif %}
</div>
{% endunless %}
{% endunless %}
{% endfor %}
{% endcapture %}

{% assign related_items = related_items | trim %}

{% unless related_items == blank %}
<section class="mb-5 mb-md-6 lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
  <div class="container">
    <hr class="mt-0 mb-5 mb-md-7">
    <h6 class="mb-3">{{ 'product.general.related_products_title' | t }}</h6>
    <div class="row row-gutx-2 row-gutx-lg-3">
      {{ related_items }}
    </div>
  </div>
</section>
{% endunless %}    
{% endif %}






{% comment %}
{% comment %}
{%- capture section_settings -%}
{
  "productId": {{ product.id | json }},
  "useRecommendations": {% if product.metafields.sf_related_products.enabled == 1 %}false{% else %}true{% endif %},
  "recommendationsCount": 4
}
{%- endcapture -%}

{%- capture flickity_options -%}
{
  "prevNextButtons": true,
  "pageDots": false,
  "wrapAround": false,
  "contain": true,
  "cellAlign": "center",
  "watchCSS": true,
  "dragThreshold": 8,
  "groupCells": true,
  "arrowShape": {"x0": 20, "x1": 60, "y1": 40, "x2": 60, "y2": 35, "x3": 25}
}
{%- endcapture -%}

{%- if section.settings.show_product_recommendations -%}
  <section class="Section Section--spacingNormal" data-section-id="{{ section.id }}" data-section-type="product-recommendations" data-section-settings='{{ section_settings }}'>
    {%- if section.settings.heading != blank -%}
      <header class="SectionHeader SectionHeader--center">
        <div class="Container">
          <h3 class="SectionHeader__Heading Heading u-h3">{{ section.settings.heading | escape }}</h3>
        </div>
      </header>
    {%- endif -%}

    <div class="ProductRecommendations">
      {%- if recommendations.performed or product.metafields.sf_related_products.enabled == 1 -%}
        <div class="ProductListWrapper">
          <div class="ProductList ProductList--carousel Carousel" data-flickity-config='{{ flickity_options }}'>
            {%- comment -%}
            If the merchant is explicitly using SuperFields, we use the hand-picked related products, otherwise we
            switch to the Shopify automatic recommendation
            {%- endcomment -%}

            {%- if product.metafields.sf_related_products.enabled == 1 -%}
              {%- for i in (1..4) -%}
                {%- assign related_product_option = 'product_' | append: i -%}
                {%- assign related_product = all_products[product.metafields.sf_related_products[related_product_option]] -%}

                {%- unless related_product.empty? -%}
                  <div class="Carousel__Cell">
                    {% render 'product-item', product: related_product, show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true %}
                  </div>
                {%- endunless -%}
              {%- endfor -%}
            {%- else -%}
              {%- for product in recommendations.products -%}
                <div class="Carousel__Cell">
                  {% render 'product-item', product: product, show_product_info: section.settings.show_product_info, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true %}
                </div>
              {%- else -%}
                {%- comment -%}Hide the section if there is no recommendations to show{%- endcomment -%}
                <style>
                  #shopify-section-{{ section.id }} {
                    display: none;
                  }
                </style>
              {%- endfor -%}
            {%- endif -%}
          </div>
        </div>
      {%- endif -%}
    </div>
  </section>
{%- endif -%}
{% endcomment %}

{% schema %}
{
  "name": "Product recommendations",
  "class": "shopify-section--bordered",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_product_recommendations",
      "label": "Show dynamic recommendations",
      "info": "Dynamic recommendations change and improve with time. [Learn more](https://help.shopify.com/en/themes/development/recommended-products)",
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Måske er du også interesseret i?"
    }
  ]
}
{% endschema %}
{% endcomment %}