<div class="section_container">
  <div class="main_content">
    {% if section.blocks.size > 0 %}
      <div class="slider--wrapper" data-hor-slider>
        {% for block in section.blocks %}
          <div class="slider__item">
            <div class="image_wrapper tb__image">
              {% render 'rimage', image: block.settings.image, wrapper_class: 'hide--mobile' %}
              {% assign mob_image = block.settings.mob_image | default: block.settings.image %}
              {% render 'rimage', image: mob_image, wrapper_class: 'hide--desktop' %}
            </div>
            <div class="content_wrapper container" id="block-content-{{ block.id }}">
              <div class="item-container">
                <div class="pos-control {{ block.settings.content_pos }} text-{{ block.settings.text_align }} text-white" style="max-width: {{ block.settings.content_width }}%">
                  {% if block.settings.pretitle != blank %}
                    <div class="pretitle display-3">{{ block.settings.pretitle }}</div>
                  {% endif %}
                  {% if block.settings.title != blank %}
                    <div class="title display-1">{{ block.settings.title }}</div>
                  {% endif %}
                  {% if block.settings.text != blank %}
                    <div class="text">{{ block.settings.text }}</div>
                  {% endif %}
                </div>
              </div>
            </div>
            <style>
              #block-content-{{ block.id }} * {
                color: {{ block.settings.text_color }};
              }
            </style>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Slider",
  "class": "section-slider slider-page-collab",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "slider",
      "name": "Slider",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mob_image",
          "label": "Image (mobile)" 
        },
        {
          "type": "text",
          "id": "pretitle",
          "label": "Pre title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#FFF"
        },
        {
          "type": "select",
          "options": [
            {
              "label": "Top Left",
              "value": "top left"
            },
            {
              "label": "Top Center",
              "value": "top center"
            },
            {
              "label": "Top Right",
              "value": "top right"
            },
            {
              "label": "Middle Left",
              "value": "middle left"
            },
            {
              "label": "Middle Center",
              "value": "middle center"
            },
            {
              "label": "Middle Right",
              "value": "middle right"
            },
            {
              "label": "Bottom Left",
              "value": "bottom left"
            },
            {
              "label": "Bottom Center",
              "value": "bottom center"
            },
            {
              "label": "Bottom Right",
              "value": "bottom right"
            }
          ],
          "id": "content_pos",
          "label": "Content position",
          "default": "middle center"
        },
        {
          "type": "select",
          "options": [
            {
              "label": "Left",
              "value": "left"
            },
            {
              "label": "Center",
              "value": "center"
            },
            {
              "label": "Right",
              "value": "right"
            }
          ],
          "id": "text_align",
          "default": "center",
          "label": "Text align"
        },
        {
          "type": "header",
          "content": "Width"
        },
        {
          "type": "range",
          "id": "content_width",
          "min": 20,
          "max": 100,
          "step": 1,
          "default": 35,
          "unit": "%",
          "label": "Content width"
        }
      ]
    }
  ]
}
{% endschema %}