{%- assign s = section.settings -%}
<div class="container">
  <h1 class="mb-4 mb-lg-6 text-center text-uppercase">{{- blog.title -}}</h1>

  {%- if s.show_featured_article -%}
  {%- if s.featured_article -%}
  {%- assign featured_article = articles[s.featured_article] -%}
  {%- else -%}
  {%- assign featured_article = blog.articles[0] -%}
  {%- endif -%}
  <div class="featured-post mx-n3 mx-md-n4 mx-lg-n7 mx-xl-0 mb-4 mb-md-6 mb-xl-10 lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
    <div class="tb__banner">
      <a class="tb__banner__link" href="{{ featured_article.url }}"></a>
      <div class="tb__banner__text justify-content-end px-3 px-md-4 px-lg-7 px-xl-9 px-xxl-11 py-4 py-xl-8 py-xxl-10">
        <div class="w-lg-60">
          <h2 class="display-2">{{ featured_article.title }}</h2>
          <div class="font-14 font-lg-16">
            {%- if featured_article.excerpt != blank -%}
            {{ featured_article.excerpt }}
            {%- else -%}
            {{ featured_article.content | strip_html | slice: 0, 300 }}...
            {%- endif -%}
          </div>
        </div>
      </div>
      <div class="tb__banner__overlay bg-gradient-black o-100 active"></div>
      <div class="tb__banner__image tb__image tb__image--2-1">
        <figure class="tb__image__placeholder">
          <img
            class="lazyload no-image"
            src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
            data-src="{{ featured_article.image.src | img_url: '1500x740', crop: 'center' }}"
            alt="{{ featured_article.image.alt }}"
          />
        </figure>
      </div>
    </div>
  </div>
  {%- endif -%}
  
  {% assign postNum = blog.articles | size %}

  {%- paginate blog.articles by 6 -%}
  <div class="row row-gut-2 row-gut-md-3 row-gut-lg-5 row-gutx-xl-6" data-paginate-content>
    {%- for article in blog.articles -%}
    <div class="col-6 col-md-4 lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
      {%- render 'article-item', article: article -%}
    </div>
    {%- endfor -%}
  </div>

  {%- render 'pagination', paginate: paginate -%}

  {%- endpaginate -%}

</div>

{% schema %}
{
  "name": "Blog page",
  "tag": "section",
  "class": "blog mb-5 mb-md-7 mb-lg-9 mb-xl-10",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_featured_article",
      "label": "Show featured article",
      "default": true
    },
    {
      "type": "article",
      "id": "featured_article",
      "label": "Featured article",
      "info": "If none is selected, the last added one will be shown"
    }
  ]
}
{% endschema %}