<div class="container d-flex flex-column align-self-stretch flex-fill h-auto px-0">
  <div class="row no-gutters flex-fill">
    <div class="col-md-7 col-lg-6 col-xl-5 col-xxl-4 offset-xxl-1 align-items-center order-md-1 p-md-4 p-lg-7 px-3 px-md-5 px-xl-7">

      <h1 class="text-uppercase text-center text-md-left">{{ page.title }}</h1>

      <div class="mb-4 mb-lg-5">
        {{- page.content -}}
      </div>

      {%- form 'contact', class: 'mb-4 mb-lg-5' -%}

      	{%- if form.posted_successfully? -%}
        <div class="alert alert-success">
          <p>{{ 'contact.form.successfully_sent' | t }}</p>
        </div>
        {%- endif -%}

      	{%- if form.errors -%}
        <div class="alert alert-danger">
          <ul class="list list-arrow">
            {%- for field in form.errors -%}
            {%- if field == 'form' -%}
            <li>{{ form.errors.messages[field] }}</li>
            {%- else -%}
            <li><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
            {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
        {%- endif -%}

        <div class="form-group mb-3">
          <input type="text" class="form-control" name="contact[name]" aria-label="{{ 'contact.form.name' | t }}" placeholder="{{ 'contact.form.name' | t }}" required {% if customer %}value="{{ customer.name }}"{% endif %}>
        </div>

        <div class="form-group mb-3">
          <input type="email" class="form-control" name="contact[email]" aria-label="{{ 'contact.form.email' | t }}" placeholder="{{ 'contact.form.email' | t }}" required {% if customer %}value="{{ customer.email }}"{% endif %}>
        </div>

        {%- for block in section.blocks -%}
        {%- assign field_title = block.settings.title -%}

        {%- if field_title == blank -%}
        {%- capture field_title -%}Custom field {% increment custom_field %}{%- endcapture -%}
        {%- endif -%}

        {%- if block.type == 'text' -%}
        <div class="form-group mb-3">
          {%- if block.settings.use_long_text -%}
          <textarea name="contact[{{ field_title | escape }}]" cols="30" rows="10" class="form-control" aria-label="{{ block.settings.title | escape }}" placeholder="{{ block.settings.title | escape }}" {% if block.settings.is_required %}required{% endif %}></textarea>
          {%- else -%}
          <input type="text" class="form-control" name="contact[{{ field_title | escape }}]" aria-label="{{ block.settings.title | escape }}" placeholder="{{ block.settings.title | escape }}" {% if block.settings.is_required %}required{% endif %}>
          {%- endif -%}
        </div>

      	{%- elsif block.type == 'dropdown' -%}
        {%- assign values = block.settings.values | split: ',' -%}
        {%- if values == empty -%}
        {%- continue -%}
        {%- endif -%}
        <div class="form-group mb-3">
          <select class="custom-select" name="contact[{{ field_title | escape }}]" title="{{ block.settings.title | escape }}" required>
            <option value="" disabled selected>{{ block.settings.title | escape }}</option>
            {%- for value in values -%}
            {%- assign trim_value = value | strip -%}
            <option value="{{ trim_value | escape }}">{{ trim_value | escape }}</option>
            {%- endfor -%}
          </select>
        </div>
      	{%- endif -%}
        {%- endfor -%}

        <div class="form-group mb-3">
          <textarea name="contact[body]" rows="6" class="form-control" aria-label="{{ 'contact.form.message' | t }}" placeholder="{{ 'contact.form.message' | t }}" required></textarea>
        </div>

        <button class="btn btn-outline-secondary w-100 w-sm-125p" type="submit">{{ 'contact.form.submit' | t }}</button>
      {%- endform -%}

      {% if section.settings.text-below != blank %}
      <div class="text-block text-md-right">
        {{ section.settings.text-below }}        
      </div>
      {% endif %}
    </div>

    <div class="col-md d-none d-md-flex flex-column ml-nauto">
      <div class="tb__banner flex-fill">
        <div class="tb__banner__overlay bg-secondary o-20 active"></div>
        <div class="tb__banner__image tb__image">
          <figure>
            <img class="lazyload h-100" src="{{ 'pixel.gif' | asset_img_url: '1x1' }}" data-src="{{ 'contact-bg.png' | asset_img_url: '1200x1080' }}" alt="">
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Contact page",
  "class": "hero hero--main d-flex mt-n2 mt-md-n6 mb-5 mb-md-0",
  "tag": "section",
  "settings": [
    {
      "type": "richtext",
      "id": "text-below",
      "label": "Text below form"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text field",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Name",
          "default": "Custom field"
        },
        {
          "type": "checkbox",
          "id": "use_long_text",
          "label": "Use long text",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "is_required",
          "label": "Field is required",
          "default": false
        }
      ]
    },
    {
      "type": "dropdown",
      "name": "Dropdown",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Name",
          "default": "Custom field"
        },
        {
          "type": "text",
          "id": "values",
          "label": "Values",
          "info": "Separate each value by a comma.",
          "default": "value 1, value 2, value 3"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text",
        "settings": {
          "title": "Your phone (optional)"
        }
      }
    ]
  }
}
{% endschema %}