{% assign s = section.settings %}
<div class="container">
  <h1 class="mb-lg-0 text-lg-center text-uppercase">{{ collection.title }}</h1>
  <nav class="collection-filter mx-n2 mb-3 mb-md-4">
    <ul class="nav nav-simple nav-space-1 justify-content-between justify-content-lg-start font-lg-18">
      {%- assign filter-fit = linklists[s.filter-fit] -%}
      {% comment %}
      {% if s.filter-fit != blank %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-uppercase" href="javascript:;" data-toggle="dropdown" data-display="static">{{ 'collection.filter.fit' | t }}</a>
        <div class="dropdown-menu w-150p wmin-0">
          {% for link in filter-fit.links %}
          <a class="dropdown-item" href="{{ link.url }}"><span class="text-underline{% if link.active %} font-weight-600{% endif %}">{{ link.title }}</span></a>
          {% endfor %}
        </div>
      </li>
      {% endif %}
      {% endcomment %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-uppercase" href="javascript:;" data-toggle="dropdown" data-display="static">{{ 'collection.filter.color' | t }}</a>
        <div class="dropdown-menu w-150p wmin-0">
          {% for tag in collection.all_tags %}
          {% if tag contains 'color_' %}
          {% if current_tags contains tag %}
          {% assign underlineString = '"><span class="text-underline font-weight-600">' %}
          {% else %}
          {% assign underlineString = '"><span class="text-underline">' %}
          {% endif %}
          {% assign color = tag | remove: 'color_' | split: '-' %}
          {{ tag | link_to_tag: tag | replace: '<a', '<a class="dropdown-item"' | replace: tag, color[0] | replace: '">', underlineString | replace: '</a>', '</span></a>' }}
          {% endif %}
          {% endfor %}
        </div>
      </li>
    </ul>
  </nav>

  {% if collection.description != blank %}
  <div class="rte">
    {{ collection.description }}
  </div>
  {% endif %}

  {%- paginate collection.products by settings.products-per-page -%}
  <div class="collection-list row row-gutx-2 row-gutx-lg-3" data-paginate-content>
    {%- for product in collection.products -%}
    {%- if forloop.index == 4 -%}
    {%- if s.separator-text != blank -%}
    <div class="col-12 my-4 my-lg-6 order-1 order-md-0 my-xl-7 mb-xl-8 text-center">
      {{ s.separator-text }}
    </div>
    {%- endif -%}
    {%- endif -%}
    <div class="col-6 col-md-4{% if forloop.index > 4 %} order-1{% endif %} lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
      {%- render 'product-item', product: product, show_product_info: true, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true -%}
    </div>
    {%- endfor -%}
  </div>

  {%- render 'pagination', paginate: paginate -%}
  {%- endpaginate -%}

  {% if collection.metafields.my_fields.long_description %}
  <div class="mt-4 mt-lg-8 lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
    <hr class="my-0 mb-4 mb-lg-8">
    <h3>{{ collection.metafields.my_fields.long_description_title }}</h3>
    <div class="text-block">
    {{ collection.metafields.my_fields.long_description }}
    </div>
  </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Collection",
  "tag": "section",
  "class": "collection mb-5 mb-md-7 mb-lg-9 mb-xl-10",
  "settings": [
    {
      "type": "link_list",
      "id": "filter-fit",
      "label": "Fit filter"
    },
    {
      "type": "link_list",
      "id": "filter-color",
      "label": "Color filter"
    },
	{
	  "type": "textarea",
      "id": "separator-text",
      "label": "Text between products"
	}
  ]
}
{% endschema %}
