{% assign currentArticle = article %}

<div class="container">
  <div class="post-header mx-n3 mx-md-n4 mx-lg-0 mb-4 mb-lg-0">
    <div class="tb__banner">
      <div class="tb__banner__text justify-content-end mx-3 mx-lg-0 mt-n6">
        <div class="row no-gutters">
          <div class="col-lg-8 px-3 px-md-5 px-lg-0 pt-3 pt-lg-6 pr-lg-8 pb-lg-5 bg-white">
            <p class="mb-2 small text-center text-lg-left text-uppercase">{{ article.created_at | date: format: 'default' }}</p>
            <h1 class="display-2 text-center text-lg-left">{{ article.title }}</h1>
          </div>
        </div>
      </div>
      <div class="tb__banner__image tb__image tb__image--2-1">
        <figure class="tb__image__placeholder">
          <img
            class="lazyload"
            src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
            data-src="{{ article.image.src | img_url: '1500x740', crop: 'center' }}"
            data-expand="-50"
            alt="{{ article.image.alt }}"
          />
        </figure>
      </div>
    </div>
  </div>

  <div class="post-body">
    <div class="row row-gutx-0">
      <main class="col-lg-8 pr-lg-8 pr-xl-10 d-block">
        {{ article.content
           | replace: 'img src="', 'img class="img-fluid my-4 my-md-6 mt-3 mt-md-6" src="'
        }}
        {% comment %}
        {{ article.content
           | replace: 'img src="', 'img class="img-fluid my-5 my-md-7 mt-3 mt-md-7 mt-lg-9" src="'
        }}
        {% endcomment %}
      </main>
      <aside class="col-lg pt-lg-7">
        {% comment %}
        <div class="post-author border border-light my-4 mt-lg-0 mb-lg-6 p-3 p-md-4 p-lg-6 p-xl-7">
          <h3 class="mb-2 mb-lg-3 text-center text-lg-left text-uppercase">{{ 'blog.article.author_box.box_title' | t }}</h3>
          <p>{{ article.user.bio }}</p>
          <p>
            <strong>{{ 'blog.article.author_box.title' | t }}:</strong> Svar <br>
            <strong>{{ 'blog.article.author_box.name' | t }}:</strong> {{ article.user.first_name }} {{ article.user.last_name }}<br>
            <strong>{{ 'blog.article.author_box.address' | t }}:</strong> {{ article.user.homepage }}
          </p>
        </div>
        {% endcomment %}
        <div class="post-related mt-4 mt-lg-0">
          <h3>{{ 'blog.general.latest_posts' | t }}</h3>
          <div class="row row-gut-2">
            {%- assign latestArticlesLimit = 2 -%}
            {%- for article in blog.articles limit: 2 -%}
            {%- if article.id == currentArticle.id -%}
            {%- assign latestArticlesLimit = 3 -%}
            {%- endif -%}
            {%- endfor -%}

            {% for article in blog.articles limit: latestArticlesLimit %}
            {% if article.id != currentArticle.id %}
            <div class="col-6">
              {%- render 'article-item', article: article -%}
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Article page",
  "tag": "article",
  "class": "post--single mt-n4 mt-md-n6 mb-lg-0 mb-5 mb-md-7 mb-lg-9 mb-xl-10",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_article_image",
      "label": "Show article image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "label": "Show article date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_category",
      "label": "Show article category",
      "info": "The first article's tag is used as the main category.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": "Show share buttons",
      "default": true
    }
  ]
}
{% endschema %}