<section class="hero hero--main d-flex mt-n2 mt-md-n6 mb-5 mb-md-0">
  <div class="container d-flex flex-column align-self-stretch flex-fill h-auto px-0">
    <div class="row no-gutters flex-fill">
      <div class="col-md-7 col-lg-6 col-xl-5 col-xxl-4 offset-xxl-1 align-items-center order-md-1 p-md-4 p-lg-7 px-3 px-md-5 px-xl-7">

        {%- capture print_link -%}
        <a href="javascript:window.print();">{{ 'gift_card.issued.print' | t }}</a>
        {%- endcapture -%}

        <div class="text-block d-print-none mb-4">
          <h1>{{ 'gift_card.issued.title' | t }}</h1>
          <p>{{ 'gift_card.issued.redeem_html' | t: name: gift_card.customer.first_name, print_link: print_link }}</p>
        </div>

        <div class="text-block text-center d-none d-print-block mb-4">
          <h1>{{ 'gift_card.issued.title_print' | t }}</h1>
          <p>{{ 'gift_card.issued.redeem_html_print' | t: name: gift_card.customer.first_name }}</p>
        </div>

        <div class="p-3 p-md-4 bg-light-gray rounded-lg">
          <div class="d-flex">
            <div>
              <p class="mb-0">{{ 'gift_card.issued.amount' | t }}</p>
              <p class="h1 font-weight-600 mb-0">
                {%- if gift_card.enabled and gift_card.expired == false -%}
                  {%- if gift_card.balance != gift_card.initial_value -%}
                    {%- assign formatted_balance = gift_card.balance | money_without_trailing_zeros: gift_card.currency -%}
                    {{ formatted_balance }}
                  {% else %}
                    {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros: gift_card.currency -%}
                    {{ formatted_initial_value }}
                  {% endif %}
                {% endif %}
              </p>
            </div>
            <div class="ml-auto">
              <svg xmlns="http://www.w3.org/2000/svg" width="26.76" height="17.51" viewBox="0 0 26.76 17.51">
                <rect width="8.95" height="17.51" fill="#c03230"/>
                <rect x="17.81" width="8.95" height="17.51" fill="#c03230"/>
                <rect x="8.95" width="8.95" height="17.51" fill="#fff"/>
              </svg>
            </div>
          </div>

          <div id="gift-card-code" class="position-relative input-group mt-4" data-success="{{ 'gift_card.issued.copy-success' | t }}">
            <input class="form-control" type="text" value="{{ gift_card.code }}">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary">{{ 'gift_card.issued.btn-copy' | t }}</button>
            </div>
          </div>

          {%- if gift_card.enabled and gift_card.expired == false -%}
          {%- if gift_card.expires_on -%}
          <p class="text-center text-xs mt-3">
            {%- assign gift_card_expiry_date = gift_card.expires_on | date: format: 'month_day_year' -%}
            {{ 'gift_card.issued.expires_on' | t: expiry: gift_card_expiry_date }}
          </p>
          {%- endif -%}
          {%- else -%}
          {%- if gift_card.expired and gift_card.enabled -%}
          <p class="text-center text-xs mt-3">
            {%- assign gift_card_expiry_date = gift_card.expires_on | date: format: 'month_day_year' -%}
            {{ 'gift_card.issued.expired' | t: expiry: gift_card_expiry_date }}
          </p>
          {%- else -%}
          <p class="text-center text-xs mt-3">
            {{ 'gift_card.issued.disabled' | t }}
          </p>
          {%- endif -%}
          {%- endif -%}
        </div>

        <a href="{{ shop.url }}" class="btn btn-outline-secondary wmin-100 wmin-md-50 mt-4" target="_blank">{{ 'gift_card.issued.shop_link' | t }}</a>
      </div>

      <div class="col-md d-none d-md-flex flex-column ml-nauto">
        <div class="tb__banner flex-fill">
          <div class="tb__banner__image tb__image">
            <figure>
              <img class="lazyload h-100" src="{{ 'pixel.gif' | asset_img_url: '1x1' }}" data-src="{{ 'gift-card.jpg' | asset_img_url: '1200x1080' }}" alt="">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style media="print">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  font-family: Titillium Web, sans-serif;
}
body {
  padding: 20px;
}
.top-alert,
.header,
.footer,
.col-md.d-none.d-md-flex.flex-column.ml-nauto,
.modal,
#cart,
.p-3.p-md-4.bg-light-gray.rounded-lg > div > div.ml-auto,
.p-3.p-md-4.bg-light-gray.rounded-lg > div > div > p.mb-0,
.input-group-append,
.btn.btn-outline-secondary.wmin-100.wmin-md-50.mt-4,
.d-print-none
{
  display: none !important;
}
.d-print-none

.hero {
  display: block !important;
  width: 500px;
  max-width: 500px;
  min-height: 0 !important;
  margin: 0 auto !important;
  padding: 50px;
  border: 2px solid #333;
}
.print-header {
  display: flex;
  justify-content: center;
}
.print-header svg {
  margin-bottom: 30px;
}
h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
}
.text-block {
  margin: 30px 0;
}
.col-md-7.col-lg-6.col-xl-5.col-xxl-4.offset-xxl-1.align-items-center.order-md-1.p-md-4.p-lg-7.px-3.px-md-5.px-xl-7 {
  flex: 0 1 auto !important;
  width: auto !important;
  max-width: none !important;
  margin: 0 !important;
  padding: 0 !important;
}
.p-3.p-md-4.bg-light-gray.rounded-lg {
  text-align: center;
}
.p-3.p-md-4.bg-light-gray.rounded-lg > div > div > p.h1 {
  display: block !important;
  margin-top: 40px;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  background-color: #333;
  -webkit-print-color-adjust: exact;
}
.input-group {
  display: inline-flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
}
.input-group:before {
  content: '[';
  margin-right: 17px;
  color: #999;
}
.input-group:after {
  content: ']';
  color: #999;
}
.input-group input {
  font-size: 24px;
  font-weight: 600;
  border: none;
}
.text-center.text-xs.mt-3 {
  margin-top: 25px;
  text-align: center;
  font-size: 14px;
}
</style>

<script>
  window.addEventListener("DOMContentLoaded", function() {
    $(document).ready(function() {
      let timeout;

      $('#gift-card-code').on('click', 'button', function() {
        clearTimeout(timeout);
        $('#gift-card-code').find('.badge').remove();

        $('#gift-card-code input').select();
        document.execCommand("copy");
        $('#gift-card-code input').blur();

        $('#gift-card-code').prepend(`<span class="badge badge-dark position-absolute mx-auto mt-n3">${$('#gift-card-code').data('success')}</span>`);

        timeout = setTimeout(function() {
          $('#gift-card-code').find('.badge').remove();
        }, 4000);
      });
    });
  });
</script>
