{% comment %}
   Page Liquid for Easy GDPR Shopify app: https://apps.shopify.com/easy-gdpr
   The 3 GDPR pages (Request Personal Data, My Personal Data, Edit Personal Data) should use this liquid.
   PLEASE DON'T MODIFY
{% endcomment %}
<link rel="stylesheet" href="https://gdpr-app.firebaseapp.com/style.css" type="text/css"/>
<div class="EG-container">
{%- comment -%}
TEMPORARY template load schema
{%- endcomment -%}

{%- if request.path == '/pages/vores-historie' or request.path == '/pages/om-os' -%}
{% section 'page-history' %}
{%- endif -%}
{%- if request.path == '/pages/baeredygtighed' -%}
{% section 'page-sustainability' %}
{%- endif -%}
{%- if request.path == '/pages/storrelsesguide' -%}
{% section 'page-sizeguide' %}
{%- endif -%}
{%- if request.path != '/pages/baeredygtighed' and request.path != '/pages/vores-historie' and request.path != '/pages/om-os' and request.path != '/pages/storrelsesguide' -%}
<section class="page--information mb-5 mb-md-7 mb-lg-9 mb-xl-10">
  <div class="container">
    <h1 class="mb-4 mb-lg-6 text-center text-uppercase">{{ page.title }}</h1>
    <div class="row">
      <div class="col-lg-7 d-block mx-auto text-block">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>
{%- endif -%}

</div>

<div>
{% if customer %}
  {% assign hash_id = customer.id | append: '-' | append: shop.permanent_domain %}
{% else %}
  {% assign hash_id = '0-' | append: shop.permanent_domain %}
{% endif %}
  <input type="hidden" value="{{ hash_id | hmac_sha256: "=Kso[P1EyJn>1~<_" }}" id="eg_hmac" />
  <input type="hidden" id="accounts_enabled" value="{{ shop.customer_accounts_enabled }}" />
</div>
