{%- comment -%}
TEMPORARY template load schema
{%- endcomment -%}

{%- if request.path == '/pages/vores-historie' or request.path == '/pages/om-os' -%}
{% section 'page-history' %}
{%- endif -%}
{%- if request.path == '/pages/baeredygtighed' -%}
{% section 'page-sustainability' %}
{%- endif -%}
{%- if request.path == '/pages/storrelsesguide' -%}
{% section 'page-sizeguide' %}
{%- endif -%}
{%- if request.path != '/pages/baeredygtighed' and request.path != '/pages/vores-historie' and request.path != '/pages/om-os' and request.path != '/pages/storrelsesguide' -%}
<section class="page--information mb-5 mb-md-7 mb-lg-9 mb-xl-10">
  <div class="container">
    <h1 class="mb-4 mb-lg-6 text-center text-uppercase">{{ page.title }}</h1>
    <div class="row">
      <div class="col-lg-7 d-block mx-auto text-block">
        {{ page.content }}
      </div>
    </div>
  </div>
</section>
{%- endif -%}
