{%- comment -%}
==========================
  FORCE TEST LAYOUT
==========================
{% layout 'theme.product' %}
{%- endcomment -%}



{%- comment -%}
==========================
  VARIABLES
==========================
{%- endcomment -%}

{%- assign p = product -%}
{%- assign current_variant = p.selected_or_first_available_variant -%}
{% if product.available == true %}
  {% assign sold_out = false %}
{% else %}
  {% assign sold_out = true %}
{% endif %}

{% for tag in p.tags %}
  {% if tag contains 'linked_' %}
    {%- assign linkedProducts = tag | remove: 'linked_' | handleize -%}
    {% break %}
  {% else %}
    {% continue %}
  {% endif %}
{% endfor %}

{% for tag in p.tags %}
  {% if tag contains 'linked_' %}
    {% assign t = tag | remove: 'linked_' | handleize %}
    {% break %}
  {% else %}
    {% continue %}
  {% endif %}
{% endfor %}

{% for pr in collections[t].products %}
  {% assign productColor = '' %}
  {% for tag in pr.tags %}
    {% if tag contains 'color_' %}
      {% assign color = tag | remove: 'color_' | split: '-' %}
    {% else %}
      {% continue %}
    {% endif %}
  {% endfor %}
  {% if pr.id == p.id %}
    {% assign productColor = color[0] %}
    {% assign productColorHash = color | last %}
    {% break %}
  {% endif %}
{% endfor %}

{% assign removeFromTitle = productColor | prepend: '(' | append: ')' %}

{% assign sizeguidePage = pages[settings.product-sizeguide-page] %}
{% assign sizeguideUrl = sizeguidePage.url %}
{% capture productCollections %}{% for collection in product.collections %}{% if forloop.first != true %},{% endif %}{{ collection.handle }}{% endfor %}{% endcapture %}



{%- comment -%}
==========================
  TEMPLATE
==========================
{%- endcomment -%}

<section id="product" class="product--single mt-n4 mt-md-0 mb-5 mb-md-7 mb-lg-8">
  <script class='js-product-json' type='text/template'>
    {
    "selectedOrFirstAvailableVariant": {{ current_variant.id | json }},
    "product": {{ product | json }}
    }
  </script>
  <div class="container" data-component="productSelection">
    <div class="row row-gut-0 row-gutx-md-4">
      <div class="col-product-gallery col-md-6 w-400p w-md-auto mx-auto lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
        <div class="product-gallery overflow-hidden mx-n3 mx-md-0">
          <div
            class="tb__gallery tb__gallery--vertical carousel"
            data-toggle="gallery"
            data-thumbs-direction="vertical"
            data-thumbs-number="6"
            data-lazy-loading="true"
          >
            {% for media in product.media %}
              {% case media.media_type %}
                {% when 'image' %}
                  <img class="tb__gallery__slide" src="{{ media.src | img_url: '600x760', crop: 'center' }}" width="600" height="760" />
                  {% break %}
              {% endcase %}
            {% endfor %}
            <div class="tb__gallery__thumbs tb__gallery__thumbs--left d-none">
              {% for media in product.media offset:s.offset %}
                {% case media.media_type %}
                  {% when 'image' %}
                    <img class="tb__gallery__thumb" src="{{ media.src | img_url: '150x' }}" data-slide="{{ media.src | img_url: '600x760', crop: 'center' }}" width="150" height="190" />
                  {% when 'video' %}
                    <div class="tb__gallery__thumb" data-video>
                      {{ media | video_tag: image_size: '600x', playsinline: true, loop: true, autoplay: false, muted: true, controls: false }}
                      <span class="tb__icon tb__icon--video-play">
                        <svg width="16" height="16"><use xlink:href="#video-play"></use></svg>
                      </span>
                      <img src="{{ media.preview_image.src | img_url: '150x' }}" width="150" height="190" />
                    </div>
                {% endcase %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <div class="col-product-info col-md offset-xl-1 flex-column flex-nowrap position-relative lazyload appear-opacity appear-slide-in-bottom" data-expand="50">
        <div class="product-main d-none d-md-block mb-md-5">
          <h1 class="product-title h2 mb-0">{{ p.title }}</h1>
          <div class="product-price h5">
            {% include '_product-prices' with data: true, product: current_variant %}
          </div>
        </div>

        <hr class="align-self-stretch d-md-none w-auto mx-n3 mt-0">

        {% form "product", p, data-productid: p.id, data-component: 'productForm' %}
          {%- assign currentVariant = p.selected_or_first_available_variant -%}
          {% include '_product_esc-out-of-stock', product:p %}
          <div class="product-options mb-3 bg-white">
            {% unless p.has_only_default_variant %}
              {% assign has_some_out_of_stock = false %}
              {% for option in p.options_with_values %}
                {% assign optionIndex = forloop.index %}
                <fieldset class="product-options-group product-options-group--{{ option.name | handleize }}">
                  <legend class="d-none">{{ option.name }}</legend>
                  <div class="btn-group-toggle d-flex flex-wrap" data-option-radio data-index="{{ forloop.index0 }}" data-toggle="buttons">
                    {% for value in option.values %}
                      {% if value contains '%' %}
                        {% continue %}
                      {% else %}
                        {% for variant in p.variants %}
                          {% assign optionKey = 'option' | append: optionIndex %}
                          {% assign matchName = variant[optionKey] %}
                          {% if value == matchName %}
                            {% assign currentVariant = variant %}
                          {% endif %}
                        {% endfor %}
                        {% if currentVariant.inventory_quantity < 1 %}
                          {% assign has_some_out_of_stock = true %}
                        {% endif %}
                        <label
                          class="btn btn-outline-light"
                          for="{{ value }}"
                          data-label="{{ value }}"
                        >
                          <input
                            id="{{ value }}"
                            type="radio"
                            name="{{ option.name }}"
                            value="{{ value }}"
                          />
                          <span>{{ value }}</span>
                        </label>
                      {% endif %}
                    {% endfor %}
                  </div>
                </fieldset>
              {% endfor %}
            {% endunless %}
            <div class="select-wrapper d-none">
              <select
                name="id"
                value="{{ currentVariant.id }}"
                required="true"
                data-productid="{{ p.id }}"
                data-option-main
              >
                {% for variant in p.variants %}
                  <option value="{{ variant.id }}" {% if variant.id == currentVariant.id %} selected{% endif %}{% unless variant.available %} disabled{% endunless %}>{{ variant.title }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="product-cart d-flex flex-wrap flex-md-nowrap w-auto wmax-md-100 mt-2 mb-n3 mb-md-4" data-toggle="observe">
            <div class="product-main d-md-none mb-md-5">
              <h1 class="product-title h2 mb-0">{{ p.title }}</h1>
              <div class="product-price h5">
                {% include '_product-prices' with data: true, product: current_variant %}
              </div>
            </div>
            <div id="product-options-mobile" class="product-options product-options-mobile collapse d-md-none mb-md-3 bg-white">
              <div class="collapse-wrap">
                {% unless p.has_only_default_variant %}
                  {% for option in p.options_with_values %}
                    {% assign optionIndex = forloop.index %}
                    <fieldset class="product-options-group product-options-group--{{ option.name | handleize }}">
                      <legend class="d-none">{{ option.name }}</legend>
                      <div class="btn-group-toggle d-flex" data-option-radio data-index="{{ forloop.index0 }}" data-toggle="buttons">
                        {% for value in option.values %}
                          {% if value contains '%' %}
                            {% continue %}
                          {% else %}
                            {% for variant in p.variants %}
                              {% assign optionKey = 'option' | append: optionIndex %}
                              {% assign matchName = variant[optionKey] %}
                              {% if value == matchName %}
                                {% assign currentVariant = variant %}
                              {% endif %}
                            {% endfor %}
                            <label
                              class="btn btn-outline-light{% if param_page == value %} active{% endif %}{% if currentVariant.inventory_quantity < 1 %} out-of-stock{% endif %}"
                              for="{{ value }}"
                              data-label="{{ value }}"
                              {% if currentVariant.inventory_quantity < 1 %}
                                data-toggle="tooltip"
                                data-title="{{ 'product.labels.out_of_stock' | t }}"
                              {% endif %}
                            >
                              <input
                                id="{{ value }}"
                                type="radio"
                                name="{{ option.name }}"
                                value="{{ value }}"
                                {% if param_page == value %}
                                  checked
                                {% endif %}
                                {% if false %}
                                  disabled
                                {% endif %}
                              />
                              <span>{{ value }}</span>
                            </label>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </fieldset>
                  {% endfor %}
                {% endunless %}
              </div>
            </div>
            <button
              class="btn btn-primary flex-fill w-md-200p no-option-selected js-btn-add-to-cart disabled{% if settings.enable-klaviyo-notification and sold_out %} d-none{% endif %}"
              id="AddToCart"
              name="add"
              type="submit"
              {% unless current_variant.available %}disabled{% endunless %}
            >
              {%- if current_variant.available -%}{{ 'gift_card.product.button_initial' | t }}{%- else -%}{{ 'product.form.sold_out' | t }}{%- endif -%}
            </button>
            <button
              class="btn btn-primary btn-cart-choose flex-fill flex-basis-0 w-md-200p"
              data-toggle="collapse"
              data-target="#product-options-mobile"
              type="button"
            >
              {{ 'gift_card.product.button_initial' | t }}
            </button>
            <input
			  class="js-counter-quantity"
              type="hidden"
              name="quantity"
              value="1"
            >
          </div>
          <div class="sticky-sentinel-after" style="order: 101;"></div>

          <div id="esc-oos-form" class="product__out-of-stock"></div>
        {% endform %}

        {% section 'product-rating' %}

        {% if p.description %}
        <div id="product-description" class="text-block">
          {{ p.description }}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% section 'product-recommendations' %}

{% if cart.item_count < 5 %}
  {% assign discountItems = 5 | minus: cart.item_count %}
  {% assign discountPercent = '10%' %}
{% endif %}
{% if cart.item_count >= 5 and cart.item_count < 10 %}
  {% assign discountItems = 10 | minus: cart.item_count %}
  {% assign discountPercent = '20%' %}
{% endif %}
<div id="modal_cart_notification" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-md w-500p wmax-100">
    <div class="modal-content p-4 p-lg-7 py-lg-6">
      <h3 class="mb-4">{{ 'cart.notifications.title' | t }}</h3>
      <div class="mt-n2" data-discount-msg>
        {% render 'discount-bar', cartNotification: true %}
      </div>
      <div class="d-flex flex-wrap m-n1">
        <a class="btn btn-outline-secondary flex-fill wmin-150p m-1" href="javascript:;" data-dismiss="modal">{{ 'cart.notifications.continue_shopping' | t }}</a>
        <a class="btn btn-outline-secondary flex-fill wmin-150p m-1 btnCartToggle" href="javascript:;" data-dismiss="modal" data-target="#cart">{{ 'cart.notifications.go_to_cart' | t }}</a>
      </div>
      {% render 'delivery_date' %}
    </div>
  </div>
</div>

<script type="text/javascript">
  var _learnq = _learnq || [];
  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };
  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>