{%- comment -%}
==========================
  FORCE TEST LAYOUT
==========================
{% layout 'theme.product' %}
{%- endcomment -%}



{%- comment -%}
==========================
  VARIABLES
==========================
{%- endcomment -%}

{%- assign p = product -%}
{%- assign current_variant = p.selected_or_first_available_variant -%}
{% if product.available == true %}
{% assign sold_out = false %}
{% else %}
{% assign sold_out = true %}
{% endif %}

{% for tag in p.tags %}
  {% if tag contains 'linked_' %}
    {%- assign linkedProducts = tag | remove: 'linked_' | handleize -%}
    {% break %}
  {% else %}
    {% continue %}
  {% endif %}
{% endfor %}

{% for tag in p.tags %}
  {% if tag contains 'linked_' %}
    {% assign t = tag | remove: 'linked_' | handleize %}
    {% break %}
  {% else %}
    {% continue %}
  {% endif %}
{% endfor %}

{% for pr in collections[t].products %}
  {% assign productColor = '' %}
  {% for tag in pr.tags %}
    {% if tag contains 'color_' %}
      {% assign color = tag | remove: 'color_' | split: '-' %}
    {% else %}
      {% continue %}
    {% endif %}
  {% endfor %}
  {% if pr.id == p.id %}
    {% assign productColor = color[0] %}
    {% assign productColorHash = color | last %}
    {% break %}
  {% endif %}
{% endfor %}

{% assign removeFromTitle = productColor | prepend: '(' | append: ')' %}

{% assign sizeguidePage = pages[settings.product-sizeguide-page] %}
{% assign sizeguideUrl = sizeguidePage.url %}
{% capture productCollections %}{% for collection in product.collections %}{% if forloop.first != true %},{% endif %}{{ collection.handle }}{% endfor %}{% endcapture %}



{%- comment -%}
==========================
  TEMPLATE
==========================
{%- endcomment -%}

<section id="product" class="product--single mt-n4 mt-md-0 mb-5 mb-md-7 mb-lg-8">
  <script class='js-product-json' type='text/template'>
  {
    "selectedOrFirstAvailableVariant": {{ current_variant.id | json }},
    "product": {{ product | json }}
  }
  </script>
  <div class="container" data-component="productSelection">
    <div class="row row-gut-0 row-gutx-md-4">
      <div class="col-product-gallery col-md-6 w-400p w-md-auto mx-auto lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
        {% section 'product-gallery' %}
      </div>
      <div class="col-product-info col-md offset-xl-1 flex-column flex-nowrap position-relative lazyload appear-opacity appear-slide-in-bottom" data-expand="50">
        <div class="product-main d-none d-md-block mb-md-5">
          {% if productColor %}
          <p class="d-md-none w-100 mb-0 font-12">({{ productColor }})</p>
          {% endif %}
          <h1 class="product-title h2 mb-0">{{ p.title | replace: removeFromTitle, '' }} {% if productColor %}<span class="d-none d-md-inline">({{ productColor }})</span>{% endif %}</h1>
          <div class="product-price h5">
            {% include '_product-prices' with data: true, product: current_variant %}
          </div>
        </div>

        <hr class="align-self-stretch d-md-none w-auto mx-n3 mt-0">

        <div class="product-color-switch d-md-none mb-3">
          <div class="dropdown">
            <a class="dropdown-toggle btn btn-outline-secondary w-100 px-2" href="javascript:;" data-toggle="dropdown" data-display="static">
              <span class="btn btn-xs btn-fixed mr-2" style="background-color: {{ productColorHash }}" aria-hidden="true"></span>
              <span class="flex-fill">{{ productColor }}</span>
            </a>
            <div class="dropdown-menu w-100 wmin-0">
              {% for pr in collections[t].products %}
              {% for tag in pr.tags %}
              {% if tag contains 'color_' %}
              {% assign color = tag | remove: 'color_' | split: '-' %}
              {% break %}
              {% else %}
              {% continue %}
              {% endif %}
              {% endfor %}
              {% if pr.id != p.id %}
              <a
                 class="dropdown-item px-2"
                 href="{{ pr.url }}"
                 data-product-id="{{ pr.id }}"
                 data-label="{{ color | first }}"
              >
                <span class="btn btn-xs btn-fixed mr-2" style="background-color: {{ color | last }}" aria-hidden="true"></span>
                {{ color | first }}
              </a>
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>

        {% form "product", p, data-productid: p.id, data-component: 'productForm' %}
          {%- assign currentVariant = p.selected_or_first_available_variant -%}
          {% include '_product_esc-out-of-stock', product:p %}
          <div class="product-options mb-3 bg-white">
              {% comment %}
              ------------------
              Colors
              ------------------
              {% endcomment %}
              <div class="product-options-group product-options-group--color btn-group-toggle d-none d-md-block mb-3 mb-lg-4">
                {% for pr in collections[t].products %}
                {% for tag in pr.tags %}
                {% if tag contains 'color_' %}
                {% assign color = tag | remove: 'color_' | split: '-' %}
                {% break %}
                {% else %}
                {% continue %}
                {% endif %}
                {% endfor %}
                <a
                   class="btn btn-outline-light btn-color{% if pr.id == p.id %} active{% endif %}{% if false %} js-color{% endif %}"
                   href="{{ pr.url }}"
                   data-product-id="{{ pr.id }}"
                   data-label="{{ color | first }}"
                   data-toggle="tooltip"
                   data-title="{{ color | first }}"
                   >
                  <span style="background-color: {{ color | last }};"></span>
                </a>
                {% endfor %}
              </div>
              {% unless p.has_only_default_variant %}
              {% assign has_some_out_of_stock = false %}
              {% for option in p.options_with_values %}
              {% assign optionIndex = forloop.index %}
              <fieldset class="product-options-group product-options-group--{{ option.name | handleize }}">
                <legend class="d-none">{{ option.name }}</legend>
                <div class="btn-group-toggle d-flex flex-wrap" data-option-radio data-index="{{ forloop.index0 }}" data-toggle="buttons">
                  {% for value in option.values %}
                  {% if value contains '%' %}
                  {% continue %}
                  {% else %}
                  {% for variant in p.variants %}
                  {% assign optionKey = 'option' | append: optionIndex %}
                  {% assign matchName = variant[optionKey] %}
                  {% if value == matchName %}
                  {% assign currentVariant = variant %}
                  {% endif %}
                  {% endfor %}
                  {% if currentVariant.inventory_quantity < 1 %}
                  {% assign has_some_out_of_stock = true %}
                  {% endif %}
                  <label
                    class="btn btn-outline-light{% if currentVariant.inventory_quantity < 1 %} out-of-stock{% endif %}"
                    for="{{ value }}"
                    data-label="{{ value }}"
                    {% if currentVariant.inventory_quantity < 1 %}
                    data-toggle="tooltip"
                    data-title="{{ 'product.labels.out_of_stock' | t }}"
                    {% endif %}
                  >
                    <input
                      id="{{ value }}"
                      type="radio"
                      name="{{ option.name }}"
                      value="{{ value }}"
                      {% if false %}
                      disabled
                      {% endif %}
                    />
                    <span>{{ value }}</span>
                  </label>
                  {% endif %}
                  {% endfor %}
                </div>
              </fieldset>
              {% endfor %}
              {% endunless %}
              <div class="select-wrapper d-none">
                <select
                  name="id"
                  value="{{ currentVariant.id }}"
                  required="true"
                  data-productid="{{ p.id }}"
                  data-option-main
                >
                  {% for variant in p.variants %}
                  <option value="{{ variant.id }}" {% if variant.id == currentVariant.id %} selected{% endif %}{% unless variant.available %} disabled{% endunless %}>{{ variant.title }}</option>
                  {% endfor %}
                </select>
              </div>
          </div>
          <div class="product-sizeguide d-none d-md-block mb-4 mb-lg-5 text-center text-md-left">
            <a class="text-hover-underline js-toggle-sizeguide" href="javascript:;" data-toggle="modal" data-target="#modal_sizeguide" data-url="{{ sizeguideUrl }}" data-collections="{{ productCollections }}">{{ 'product.general.sizeguide' | t }}</a>
          </div>
          {% section 'product-klarna' %}
          <div class="product-cart d-flex flex-wrap flex-md-nowrap w-auto wmax-md-100 mb-n3 mb-md-4" data-toggle="observe">
            <div class="product-main d-md-none mb-md-5">
              {% if productColor %}
              <p class="d-md-none w-100 mb-0 font-12">({{ productColor }})</p>
              {% endif %}
              <h1 class="product-title h2 mb-0">{{ p.title | replace: removeFromTitle, '' }} {% if productColor %}<span class="d-none d-md-inline">({{ productColor }})</span>{% endif %}</h1>
              <div class="product-price h5">
                {% include '_product-prices' with data: true, product: current_variant %}
              </div>
            </div>
            <div id="product-options-mobile" class="product-options product-options-mobile collapse d-md-none mb-md-3 bg-white">
              <div class="collapse-wrap">
                {% unless p.has_only_default_variant %}
                {% for option in p.options_with_values %}
                {% assign optionIndex = forloop.index %}
                <fieldset class="product-options-group product-options-group--{{ option.name | handleize }}">
                  <legend class="d-none">{{ option.name }}</legend>
                  <div class="btn-group-toggle d-flex" data-option-radio data-index="{{ forloop.index0 }}" data-toggle="buttons">
                    {% for value in option.values %}
                    {% if value contains '%' %}
                    {% continue %}
                    {% else %}
                    {% for variant in p.variants %}
                    {% assign optionKey = 'option' | append: optionIndex %}
                    {% assign matchName = variant[optionKey] %}
                    {% if value == matchName %}
                    {% assign currentVariant = variant %}
                    {% endif %}
                    {% endfor %}
                    <label
                      class="btn btn-outline-light{% if param_page == value %} active{% endif %}{% if currentVariant.inventory_quantity < 1 %} out-of-stock{% endif %}"
                      for="{{ value }}"
                      data-label="{{ value }}"
                      {% if currentVariant.inventory_quantity < 1 %}
                      data-toggle="tooltip"
                      data-title="{{ 'product.labels.out_of_stock' | t }}"
                      {% endif %}
                    >
                      <input
                        id="{{ value }}"
                        type="radio"
                        name="{{ option.name }}"
                        value="{{ value }}"
                        {% if param_page == value %}
                        checked
                        {% endif %}
                        {% if false %}
                        disabled
                        {% endif %}
                      />
                      <span>{{ value }}</span>
                    </label>
                    {% endif %}
                    {% endfor %}
                  </div>
                </fieldset>
                {% endfor %}
                {% endunless %}
              </div>
            </div>
            <div class="counter-wrapper flex-shrink-0 w-100p mr-3">
              <div class="counter">
                <input
                  class="form-control px-1 text-center js-counter-quantity"
                  type="text"
                  name="quantity"
                  value="1"
                  size="2"
                  data-toggle="touchspin"
                  data-buttondown_class="btn btn-outline-gray text-dark w-30p px-0 js-counter-remove"
                  data-buttonup_class="btn btn-outline-gray text-dark w-30p px-0 js-counter-add"
                  data-min="1"
                >
              </div>
            </div>
            <button
              class="btn btn-primary flex-fill w-md-200p no-option-selected js-btn-add-to-cart disabled{% if settings.enable-klaviyo-notification and sold_out %} d-none{% endif %}"
              id="AddToCart"
              name="add"
              type="submit"
              {% unless current_variant.available or product.has_only_default_variant %}disabled{% endunless %}
            >
              {%- if current_variant.available or product.has_only_default_variant -%}{{ 'product.form.button_initial' | t }}{%- else -%}{{ 'product.form.sold_out' | t }}{%- endif -%}
            </button>
	    	{%- if settings.enable-klaviyo-notification and has_some_out_of_stock -%}
            <a class="klaviyo-bis-trigger btn {%if sold_out %}btn-secondary d-flex flex-fill flex-basis-0 w-md-200p{% else %}btn-outline-secondary d-none d-md-flex ml-md-3{% endif %} order-1" href="#">
              {%if sold_out %}{{ 'product.notify_modal.button_all_sold' | t }}{% else %}{{ 'product.notify_modal.button' | t }}{% endif %}
            </a>
	    	{%- endif -%}
            <button
              class="btn btn-primary btn-cart-choose flex-fill flex-basis-0 w-md-200p"
              data-toggle="collapse"
              data-target="#product-options-mobile"
              type="button"
            >
              {{ 'product.form.button_initial' | t }}
            </button>
            <button
              class="btn btn-primary btn-cart-out-of-stock flex-fill flex-basis-0 w-md-200p"
              data-toggle="collapse"
              data-target="#product-options-mobile"
              type="button"
            >
              {{ 'product.form.sold_out' | t }}
            </button>
          </div>
          <div class="sticky-sentinel-after" style="order: 101;"></div>
          {%- if has_some_out_of_stock -%}
          {%- if p.available == true -%}
          <a class="klaviyo-bis-trigger btn btn-outline-secondary d-flex d-md-none w-220p mt-3 mx-auto" href="#" style="order: 102;">
            {{ 'product.notify_modal.button' | t }}
          </a>
          {%- endif -%}
          {%- endif -%}


          {% if product.available %}
          {% include 'subscription-product' %}
          {% endif %}

          <div id="esc-oos-form" class="product__out-of-stock"></div>
        {% endform %}

        <div class="product-sizeguide d-md-none mb-4 mb-lg-5 text-center text-md-left">
          <a class="text-hover-underline js-toggle-sizeguide" href="javascript:;" data-toggle="modal" data-target="#modal_sizeguide" data-url="{{ sizeguideUrl }}" data-collections="{{ productCollections }}">{{ 'product.general.sizeguide' | t }}</a>
        </div>

        {% section 'product-rating' %}
        
        {% section 'product-description' %}
      </div>
    </div>
  </div>
</section>

{% section 'product-recommendations' %}

<div class="container w-100 my-4 my-lg-8 lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
  <hr>
{% if p.metafields.my_fields.long_description %}
<div class="pb-4 pb-lg-8 lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
  <h3>{{ p.metafields.my_fields.long_description_title }}</h3>
  <div class="text-block pb-4 pb-lg-8">
    {{ p.metafields.my_fields.long_description }}
  </div>
  <hr class="my-0">
</div>
{% endif %}
</div>

{% section 'product-icons' %}

{% render 'modal-sizeguide' %}

{% if cart.item_count < 5 %}
{% assign discountItems = 5 | minus: cart.item_count %}
{% assign discountPercent = '10%' %}
{% endif %}
{% if cart.item_count >= 5 and cart.item_count < 10 %}
{% assign discountItems = 10 | minus: cart.item_count %}
{% assign discountPercent = '20%' %}
{% endif %}
<div id="modal_cart_notification" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-md w-500p wmax-100">
    <div class="modal-content p-4 p-lg-7 py-lg-6">
      <h3 class="mb-4">{{ 'cart.notifications.title' | t }}</h3>
      <div class="mt-n2" data-discount-msg>
        {% render 'discount-bar', cartNotification: true %}
      </div>
      <div class="d-flex flex-wrap m-n1">
        <a class="btn btn-outline-secondary flex-fill wmin-150p m-1" href="javascript:;" data-dismiss="modal">{{ 'cart.notifications.continue_shopping' | t }}</a>
        <a class="btn btn-outline-secondary flex-fill wmin-150p m-1 btnCartToggle" href="javascript:;" data-dismiss="modal" data-target="#cart">{{ 'cart.notifications.go_to_cart' | t }}</a>
      </div>
      {% render 'delivery_date' %}
    </div>
  </div>
</div>

<script type="text/javascript">
  var _learnq = _learnq || [];
  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };
  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>
